{% extends "base.html" %}
{% load static %}
{% load base_tag %}

{# Стили #}
{% block style %}
{% endblock style %}

{# Скрипты #}
{% block script %}

    <script>
        // функция смены страницы
        function change_page_num(num) {
            const page_len = document.getElementById("page_len");
            redirect_rulepg(num, page_len.value)
        }
        // функция смены количество записей на странице
        function change_page_len() {
            const page_len = document.getElementById("page_len");
            redirect_rulepg(1, page_len.value)
        }
        // переход на указанную страницу правил
        function redirect_rulepg(page_num, page_len)
        {
            window.location.href = '{% url 'rulepg' %}?page_num=' + page_num + '&page_len=' + page_len;
        }
    </script>

{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-trending-up"></i>Правила фильтрации сетевого трафика
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'rulepg' %}">Правила</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}
    <div class="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Редактор правил фильтрации PG</h5>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Количество строк отображаемых на странице таблицы -->
                        <div class="row">
                            <div class="col-auto p-r-0">
                                <p class="py-2">Показать</p>
                            </div>
                            <div class="col-auto">
                                <label>
                                <select id="page_len" class="form-control" required onchange="change_page_len()">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                </label>
                            </div>
                            <div class="col-auto p-l-0">
                                <p class="py-2">записей</p>
                            </div>
                        </div>

                        <!-- Колонки таблицы -->
                        <div class="row">
                            <div class="col">
                                <p class="text-dark m-0">Название</p>
                            </div>
                            {% for ct in cat_type %}
                                <div class="col text-center">
                                    <p class="text-dark m-0">{{ ct.1 }}</p>
                                    <p class="text-muted m-0">({{ ct.2 }})</p>
                                </div>
                            {% endfor %}
                            <div class="col">
                                <p class="text-dark m-0">Описание</p>
                            </div>
                            <div class="col wei">
                                <p class="text-dark m-0">Лог</p>
                            </div>
                        </div>
                        <div class="row" style="background-color: lightgrey">
                            <div style="height: 1px;"></div>
                        </div>

                        <!-- Строка с правилами -->
                        {% for row in rules %}
                            {% include 'rulepg/rulepg_row.html' with rule=row %}
                        {% endfor %}

                        <!-- Страницы строк таблицы -->
                        <div class="row">
                            <div class="col-auto">
                                <nav aria-label="Page navigation example">
                                    <ul id="page_num" class="pagination">
                                        {% for p in pagination.list %}
                                            {% if pagination.num != p %}
                                        	    <li class="page-item" onclick="change_page_num({{ p }})">
                                                    <a class="page-link" href="#">{{ p }}</a></li>
                                            {% else %}
                                        	    <li class="page-item active" onclick="change_page_num({{ p }})">
                                                    <a class="page-link" href="#">{{ p }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}