
<div class="row p-0 m-0 editor" style="position: relative;" hidden>
    <div style="position: absolute; right: 0;">
        <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style=" cursor: pointer;"></p>
        <div class="dropdown-menu border border-info p-2" x-placement="bottom-start">
            {#<p>id_cat: {{ id_cat }} - id_rule: {{ id_rule }}</p>#}
            {% for ct in cat_type %}
            	{% if ct.id_cat == id_cat %}
                    <!-- вывести все наборы -->
                    {% if ct.is_attr_kit == 1 %}
                        {% for k in kit %}
                            {% if k.id_type == ct.id_type %}
                                <div class="form-check" style="font-size: 14px">
                                    <input class="form-check-input p-b-5" type="checkbox" 
                                           id="{{ id_rule }}_{{ id_cat }}_{{ k.id }}"                                    
                                            {% for attr in cat %}
                                                {% if attr.attr == 'kit' and attr.name == k.name %}
                                                    checked
                                                {% endif %} 
                                            {% endfor %}>  
                                    <label class="form-check-label" 
                                           for="{{ id_rule }}_{{ id_cat }}_{{ k.id }}">{{ k.name }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}


{#                    {% if ct.is_attr_val == 1 %}#}
{#                    	<p>val: {{ ct.name_type }}</p>#}
{#                    {% endif %}#}
{#                    {% if ct.is_attr_kit == 1 %}#}
{#                    	<p>kit: {{ ct.name_type }}</p>#}
{#                    {% endif %}#}


            	{% endif %} 
            {% endfor %}

            <br>
            <label for="cat_add" hidden></label>
            <input id="cat_add" class="border border-info" type="text" style="width: 100%"> 
            <button>qwe</button>
        </div>
    </div>
</div>

{% if cat is None %}
    <p class="py-0 my-0"
       style="color: darkgrey; cursor: default" >*Any</p>
{% else %}
    {% for attr in cat %}
        <p class="py-0 my-0"
           style="cursor: default">
            {% if attr.attr == 'kit' %}
                <i class="feather icon-grid"></i>
            {% else %}
                <i class="feather icon-filter"></i>
            {% endif %}
            {{ attr.name }}
            <i class="feather icon-x editor text-danger" style="font-size: 0.8em; cursor: pointer;" hidden></i>
        </p>
    {% endfor %}
{% endif %}

