{% extends "base.html" %}
{% load static %}


{% block header %}
    <li>
        <div class="card-header">
            <h5>Содержимое списка: {{ list.description }}</h5>
        </div>
    </li>
{% endblock header %}


{% block content %}

    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">

                <!-- [Описание] start-->
                <p>Редактирование списка (нужно расписать описание)</p>
                <!-- [Описание] end-->

                <!-- [Содержимое файла] start-->
                <script>{% include "codemirrior/codemirror.js" %}</script>
                <style>{% include "codemirrior/codemirror.css" %}</style>
                <form action="" method="post">
                {% csrf_token %}
                    <input name="id" value="{{ id }}" type="hidden"><br/>
                    <button type="submit" name="btnSet" class="btn btn-primary" style="width: 120px;" onclick="return confirm('Выполнить сохранение списка?')">Сохранить</button><br/>
                    <label>Содержимое списка:</label>
                    <textarea id="demotext" name="filetext" class="form-control" rows="40">{{ filetext }}</textarea>
                </form>
                <!-- [Содержимое файла] end-->

                <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("demotext"), {
                      lineNumbers: true,
                      mode: "text/html",
                      matchBrackets: true
                    });
                </script>

            </div>
        </div>
    </div>


{% endblock content %}
