{% extends "base.html" %}
{% load static %}


{% block header %}
        <li>
        <div class="card-header">
            <h5>Списки фильтрации сетевого трафика</h5>
        </div>
    </li>
{% endblock header %}


{% block content %}

   <!-- Списки фильтрации -->
    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">

                <!-- [Описание] start-->
                <p>Списки фильтрации сетевого трафика.</p>
                <!-- [Описание] end-->

                <!-- [Новый список] start -->
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#listsInsert" >
                    <i class="feather icon-flag"></i>Новый список
                </button>
                {% include "rules/lists/lists_form.html" with action='insert' %}
                <!-- [Новый список] end -->

                <!-- [Таблица правил] start -->
                <table id="col-reorder"
                       class="display table nowrap table-striped table-hover footable"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Тип</th>
                        <th>Описание</th>
                        <th>Дата</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for l in lists %}
                        <!-- [Строка] start -->
                        <tr>
                            <td style="display: table-cell; width: 30px;">
                                <div>
                                    <a href="#!" type="button" data-toggle="modal" data-target="#listsUpdate_{{ l.id }}">
                                        <i class="icon feather icon-edit-2"></i>
                                    </a>
                                </div>
                            </td>
                            <td style="display: table-cell;">{{ l.ftype }}</td>
                            <td style="display: table-cell;">
                                <a href="{% url 'content' l.id %}">{{ l.description }}</a>
                            </td>
                            <td style="display: table-cell;">{{ l.date }}</td>
                        </tr>
                        <!-- [Строка] end -->

                        <!-- [Модальное окно редактирования правила] -->
                        {% include "rules/lists/lists_form.html" with list=l action='update' %}

                    {% endfor %}
                    </tbody>
                </table>
                <!-- [Таблица правил] end -->

            </div>
        </div>
    </div>

{% endblock content %}