{% extends "rules/../base.html" %}
{% load static %}

{# Стили #}
{% block style %}
    <script src="{% static 'codemirrior/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'codemirrior/codemirror.css' %}">
{% endblock style %}

{# Заголовок #}
{% block header %}
    <li>
        <h5>{{ caption }}</h5>
    </li>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <form action="" method="post">
            {% csrf_token %}
            {# Элементы формы #}
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <input name="id" value="{{ list.id }}" type="hidden">
                            <div class="form-group">
                                <label>Описание:</label>
                                <input name="description" value="{{ list.description }}" type="text"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Тип списка:</label>
                                <select name="ftype" class="form-control" value="{{ list.ftype }}">
                                    {% for f in format %}
                                        <option value="{{ f }}" {% if f == list.ftype %}
                                                selected="selected" {% endif %}>{{ f }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="devButtons text-center">
                                {# Кнопки #}
                                {% if action == 'add' %}
                                    <button type="submit" name="btnInsert" class="btn btn-primary shadow-2 m-t-5"
                                            style="width: 120px;">
                                        Создать
                                    </button>
                                {% else %}
                                    <button type="submit" name="btnUpdate" class="btn btn-primary shadow-2 m-t-5"
                                            style="width: 120px;">
                                        Сохранить
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-md-6">
                    <dev class="card">
                        <dev class="card-header">
                           Содержимое списка:
                        </dev>
                        <dev class="card-body">
                            <div class="form-control">
                                <textarea id="demotext" name="content" rows="20">{{ content }}</textarea>
                            </div>
                        </dev>
                    </dev>

                    <br/>
                </div>

            </div>
        </form>
    </div>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("demotext"), {
            lineNumbers: true,
            mode: "text/html",
            matchBrackets: true
        });
    </script>

{% endblock content %}
