{% extends "base.html" %}
{% load static %}
{% load base_tag %}


{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script src="{% static 'main/js/pages/tbl-datatable-custom.js' %}"></script>
    <script src="{% static 'main/plugins/data-tables/js/datatables.min.js' %}"></script>
    <script src="{% static 'language/ru-table.js' %}"></script>

    <script>
        // Запрос данных Ajax
        function PostStatusAjax() {
            var id = event.target.id
            let checked = event.target.checked;
            // Параметры
            const param = {
                type: "GET",
                dataType: "json",
                url: '{% url 'write' %}',
                data: {write_status: checked, write: id},
            }
            // Выполнить запрос
            $.ajax(param);
        }

        // Запрос данных Ajax
        function PostPortAjax() {
            var id = event.target.id
            let port = ''

            if (id === 'writeInSave') {
                port = document.getElementById('portWriteInText')
            }
            if (id === 'writeOutSave') {
                port = document.getElementById('portwriteOutText')
            }

            let portValue = port.value
            // Параметры
            const param = {
                type: "GET",
                dataType: "json",
                url: '{% url 'write' %}',
                data: {port: portValue, write: id},
            }

            // Выполнить запрос
            $.ajax(param);

        }

        var idSave = ''
        function SavePcap() {
            idSave = event.target.id
            // Параметры
            const param = {
                type: "GET",
                dataType: "html",
                data: {pcap: idSave},
                url: '{% url 'write' %}',
                success: Save
            }
            // Выполнить запрос
            $.ajax(param);
        }

        // Сохранение файла конфигурации
        function Save(data) {
            DownloadFile(data, idSave, "pcap")
        }

        // Функция скачивания файла
        function DownloadFile(data, filename, type) {
            const file = new Blob([data], {type: type});
            if (window.navigator.msSaveOrOpenBlob) // IE10+
                window.navigator.msSaveOrOpenBlob(file, filename);
            else { // Others
                const a = document.createElement("a"),
                    url = URL.createObjectURL(file);
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                setTimeout(function () {
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                }, 0);
            }
        }
    </script>

{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-monitor"></i>Запись трафика
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'write' %}">Трафик</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}
    <div class="page-wrapper">
        <div class="row">
            <div class="col-auto col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Запись входящего трафика</h5>
                        </div>
                    </div>
                    <div class="card-body" style="margin-top: 0; padding-top: 10px">
                        <div class="row">
                            <div class="col-auto">
                                <div class="switch switch-primary d-inline m-r-10">
                                    <input type="checkbox" id="writeIn"
                                           {% if writeIn.write_statusin == 'write' %}checked{% endif %}
                                           hidden onchange="PostStatusAjax()">
                                    <label for="writeIn" class="cr"></label>
                                    <label class="text-dark" style="margin-left: 10px">Включить запись входящего трафика</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <button id="writeInSave" class="btn btn-primary shadow-2" onclick="PostPortAjax()" style="width: 160px">Сохранить</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="portWriteInText">Порты:</label>
                                    <input id="portWriteInText" type="text" class="form-control" value="{{ writeIn.write_portin }}">
                                </div>
                                <div class="invalid-feedback" id="validDiv_portWriteInText">
                                    <ul>
                                        <li id="validLi_portWriteInText"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Запись исходящего трафика</h5>
                        </div>
                    </div>
                    <div class="card-body" style="margin-top: 0; padding-top: 10px">
                        <div class="row">
                            <div class="col-auto">
                                <div class="switch switch-primary d-inline m-r-10">
                                    <input type="checkbox" id="writeOut"
                                           {% if writeOut.write_statusout == 'write' %}checked{% endif %}
                                           hidden onchange="PostStatusAjax()">
                                    <label for="writeOut" class="cr"></label>
                                    <label class="text-dark" style="margin-left: 10px">Включить запись исходящего трафика</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <button id="writeOutSave" class="btn btn-primary shadow-2" onclick="PostPortAjax()"style="width: 160px">Сохранить</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="portwriteOutText">Порты:</label>
                                    <input id="portwriteOutText" type="text" class="form-control" value="{{ writeOut.write_portout }}">
                                </div>
                                <div class="invalid-feedback" id="validDiv_portwriteOutText">
                                    <ul>
                                        <li id="validLi_portwriteOutText"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Файлы записи сетевого трафика</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col">
                            <div class="table-responsive">
                                <table id="col-reorder"
                                       class="display table nowrap table-striped table-hover footable"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th title="Удалить"><i class="feather icon-trash"></i></th>
                                        <th>Файл</th>
                                        <th title="Сохранить"><i class="feather feather icon-save"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for file in content.name %}
                                        <tr>
                                            <!-- Удалить -->
                                            <td style="display: table-cell;">
                                                <div>
                                                    <a href="{% url 'lists' %}?delete={{ l.id }}"
                                                       onclick="return confirm('Удалить файл {{ file }}?');">
                                                        <i class="feather icon-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <!-- Имя файла -->
                                            <td style="display: table-cell;">{{ file }}</td>
                                            <!-- Сохранить -->
                                            <td style="display: table-cell;">
                                                <div>
                                                    <a href="#"><i id="{{ file }}" onclick="SavePcap()" class="feather icon-save"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}