{% extends "base.html" %}
{% load static %}
{% load base_tag %}


{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script src="{% static 'main/js/pages/tbl-datatable-custom.js' %}"></script>
    <script src="{% static 'main/plugins/data-tables/js/datatables.min.js' %}"></script>
    <script src="{% static 'language/ru-table.js' %}"></script>
    <!-- Валидация -->
    <script>
        // Скрипт валидации
        function Validate(elementId, validLiId, validDivId, format, text) {
            // Получить контролы валидации
            const element = document.getElementById(elementId);
            const validLi = document.getElementById(validLiId);
            const validDiv = document.getElementById(validDivId);
            // Выполнить проверку содержимого
            validDiv.hidden = true;

            if (element.value === 'all') {
                return true
            }

            let result = true;
            var arrayStr = element.value.split(',')
            for (let port of arrayStr) {
                if (port.trim().match(format)) {
                } else {
                    result = false
                    validDiv.hidden = false;
                    validDiv.classList.add('text-danger');
                    validDiv.classList.remove("invalid-feedback");
                    text += port;
                    break;
                }
            }
            validLi.textContent = text;
            return result;
        }
    </script>
    <!-- Вкл/отк записи -->
    <script>
        // Запрос данных Ajax
        function PostPortAjax(val) {
            let btnName = 'btn' + val;
            let portName = 'port' + val;
            let validLiName = 'validLi' + val;
            let validDivName = 'validDiv' + val;
            let btn = document.getElementById(btnName);
            let port = document.getElementById(portName);

            // Проверка валидации
            const formatPort = /^((6553[0-5])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-5]{0,5})|([0-9]{1,4}))$/;
            let res = Validate(portName, validLiName, validDivName, formatPort, "Неверное значение порта: ");
            if (res === false)
                return;

            // Отметка о включении
            let text = btn.textContent.trim();
            if (text === 'Старт') {
                btn.textContent = 'Стоп';
                port.readOnly = true;
            } else {
                btn.textContent = 'Старт'
                port.readOnly = false;
            }

            // Параметры записи
            let btnValue = btn.value;
            let portValue = port.value;

            // Параметры
            const param = {
                type: "GET",
                dataType: "json",
                url: '{% url 'write' %}',
                data: {param: val, status: btnValue, port: portValue},
            }

            // Выполнить запрос
            $.ajax(param);

            setTimeout(() => {
                location.assign(document.URL);
            }, 3000);

        }


    </script>
    <!-- Сохранение файла -->
    <script>
        let m_fileName = '';

        // Ajax сохранение файла pcap
        function SavePcap(fileName) {
            m_fileName = fileName;
            // Параметры
            const param = {
                type: "GET",
                dataType: "html",
                data: {pcap: fileName},
                url: '{% url 'write' %}',
                success: SaveFile
            }
            // Выполнить запрос
            $.ajax(param);
        }

        // Сохранение файла
        function SaveFile(data) {
            // Скачать файл
            DownloadFile(data, m_fileName, "pcap");
        }

        // Функция скачивания файла
        function DownloadFile(data, filename, type) {
            const file = new Blob([data], {type: type});
            if (window.navigator.msSaveOrOpenBlob) // IE10+
                window.navigator.msSaveOrOpenBlob(file, filename);
            else { // Others
                const a = document.createElement("a"),
                    url = URL.createObjectURL(file);
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                setTimeout(function () {
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                }, 0);
            }
        }
    </script>

{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-file-text"></i>Запись входящего и исходящего сетевого трафика
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'write' %}">Запись трафика</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}
    <div class="page-wrapper">
        <div class="row">
            <div class="col-auto col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Запись входящего трафика</h5>
                        </div>
                    </div>
                    <div class="card-body" style="margin-top: 0; padding-top: 10px">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <label for="portIn"></label>
                                    <div class="input-group-prepend">
                                        <button id="btnIn" class="btn btn-primary" type="button"
                                                value="{{ writeIn.write_statusin }}" onclick="PostPortAjax('In')"
                                                style="width: 160px">
                                            {% if writeIn.write_statusin == 'write' %}Стоп{% else %}
                                                Старт{% endif %}</button>
                                    </div>
                                    <input id="portIn" type="text" class="form-control"
                                           value="{{ writeIn.write_portin }}"
                                           {% if writeIn.write_statusin == 'write' %}readonly{% endif %}>
                                </div>
                                <div id="validDivIn" class="invalid-feedback">
                                    <ul>
                                        <li id="validLiIn"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Запись исходящего трафика</h5>
                        </div>
                    </div>
                    <div class="card-body" style="margin-top: 0; padding-top: 10px">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <label for="portOut"></label>
                                    <div class="input-group-prepend">
                                        <button id="btnOut" class="btn btn-primary" type="button"
                                                value="{{ writeOut.write_statusout }}" onclick="PostPortAjax('Out')"
                                                style="width: 160px">
                                            {% if writeOut.write_statusout == 'write' %}Стоп{% else %}
                                                Старт{% endif %}</button>
                                    </div>
                                    <input id="portOut" type="text" class="form-control"
                                           value="{{ writeOut.write_portout }}"
                                           {% if writeIn.write_statusout == 'write' %}readonly{% endif %}>
                                </div>
                                <div id="validDivOut" class="invalid-feedback">
                                    <ul>
                                        <li id="validLiOut"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Файлы записи сетевого трафика</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col">
                            <div class="table-responsive">
                                <table id="col-reorder"
                                       class="display table nowrap table-striped table-hover footable"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th title="Удалить"><i class="feather icon-trash"></i></th>
                                        <th>Файл</th>
                                        <th title="Сохранить"><i class="feather feather icon-save"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for file in writeContent.name %}
                                        <tr>
                                            <!-- Удалить -->
                                            <td style="display: table-cell;">
                                                <div>
                                                    <a href="{% url 'write' %}?delete={{ file }}"
                                                       onclick="return confirm('Удалить файл {{ file }}?');">
                                                        <i class="feather icon-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <!-- Имя файла -->
                                            <td style="display: table-cell;">{{ file }}</td>
                                            <!-- Сохранить -->
                                            <td style="display: table-cell;">
                                                <div>
                                                    <a href="#"><i onclick="SavePcap('{{ file }}')"
                                                                   class="feather icon-save"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}