<!DOCTYPE html>
<html lang="ru">

{% load static %}
{% load base_tag %}

<head>
    <title>NGFW "Барбакан"</title>

    <!-- [ блок стилей css ] start --->
    {% block style %}
    {% endblock style %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon">
    <!-- [ блок стилей css ] end --->

</head>

<body style="background: #C5D8FF">

    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="#" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">NGFW "Барбакан"</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">

                    <!-- Группа - Система -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Система</label>
                    </li>

                    <!-- Состояние -->
                    <li class="nav-item {% is_active request 'state' 'active' %}">
                        <a href="{% url 'state' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Состояние</span>
                        </a>
                    </li>

                    <li class="nav-item {% is_active request 'ports' 'active' %}">
                        <a href="{% url 'ports' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-airplay"></i>
                            </span>
                            <span class="pcoded-mtext">Порты</span>
                        </a>
                    </li>

                    <!-- Группа - Фильтрация -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Межсетевой экран</label>
                    </li>

                    <!-- Правила -->
                    <li class="nav-item {% is_active request 'rules rules_add rules_edit' 'active' %}">
                        <a href="{% url 'rules' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-trending-up"></i>
                            </span><span class="pcoded-mtext">Правила</span>
                        </a>
                    </li>

                    <!-- Списки -->
                    <li class="nav-item {% is_active request 'lists lists_add lists_edit' 'active' %}">
                        <a href="{% url 'lists' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-list"></i>
                            </span><span class="pcoded-mtext">Списки</span>
                        </a>
                    </li>

                    <!-- История изменений  -->
                    <li class="nav-item {% is_active request 'history' 'active' %}">
                        <a href="{% url 'history' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-clock"></i>
                            </span><span class="pcoded-mtext">История</span>
                        </a>
                    </li>


                    <!-- Группа - Маршрутизация -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Маршрутизация</label>
                    </li>

                    <!-- Сеть -->
                    <li class="nav-item pcoded-hasmenu {% is_active request 'protocol_route protocol_route_add protocol_ipconfig protocol_ipconfig_add protocol_nat protocol_arp protocol_dhcp protocol_icmp' 'active pcoded-trigger' %}">
                        <a href="#" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-wifi"></i>
                            </span><span class="pcoded-mtext">Сеть</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class="{% is_active request 'protocol_ipconfig protocol_ipconfig_add' 'active' %}"><a href="{% url 'protocol_ipconfig'%}" class="">IP</a></li>
                            <li class="{% is_active request 'protocol_route protocol_route_add' 'active' %}"><a href="{% url 'protocol_route'%}" class="">ROUTE</a></li>
                            <li class="{% is_active request 'protocol_nat' 'active' %}"><a href="{% url 'protocol_nat' %}" class="">NAT</a></li>
                            <li class="{% is_active request 'protocol_arp' 'active' %}"><a href="{% url 'protocol_arp' %}" class="">ARP</a></li>
                            <li class="{% is_active request 'protocol_dhcp' 'active' %}"><a href="{% url 'protocol_dhcp' %}" class="">DHCP</a></li>
                            <li class="{% is_active request 'protocol_icmp' 'active' %}"><a href="{% url 'protocol_icmp' %}" class="">ICMP</a></li>
                        </ul>
                    </li>

                    <!-- Защита сети -->
                    <li class="nav-item {% is_active request '' 'active' %}">
                        <a href="#" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-shield"></i>
                            </span><span class="pcoded-mtext">Защита сети</span>
                        </a>
                    </li>

                    <!-- Группа - Контентная фильтрация -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Контентная фильтрация</label>
                    </li>

                    <!-- Контентная фильтрация Статус -->
                    <li class="nav-item {% is_active request '' 'active' %}">
                        <a href="#" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-filter"></i>
                            </span><span class="pcoded-mtext">Статус</span>
                        </a>
                    </li>

                    <!-- Группа - СОВ -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Обнаружение вторжений</label>
                    </li>

                    <!-- СОВ Статус -->
                    <li class="nav-item {% is_active request '' 'active' %}">
                        <a href="#" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-triangle"></i>
                            </span><span class="pcoded-mtext">Статус</span>
                        </a>
                    </li>

                    <!-- СОВ Статус -->
                    <li class="nav-item {% is_active request '' 'active' %}">
                        <a href="#" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-triangle"></i>
                            </span><span class="pcoded-mtext">Правила СОВ</span>
                        </a>
                    </li>

                    <!-- СОВ Статус -->
                    <li class="nav-item {% is_active request '' 'active' %}">
                        <a href="#" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-triangle"></i>
                            </span><span class="pcoded-mtext">Конфигурация СОВ</span>
                        </a>
                    </li>

                    <!-- Группа - Сервис -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Сервис</label>
                    </li>

                    <!-- Debug -->
                    <li class="nav-item pcoded-hasmenu {% is_active request 'table' 'active pcoded-trigger' %}">
                        <a href="#" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-gitlab"></i></span><span class="pcoded-mtext">Debug</span>
                        </a>
                        <ul class="pcoded-submenu">

                            <li class="{% is_active request 'atomic' 'active' %}"><a href="{% url 'table' 'atomic' %}" class="">Atomic</a></li>
                            <li class="{% is_active request 'format' 'active' %}"><a href="{% url 'table' 'format'%}" class="">Format</a></li>
                            <li class="{% is_active request 'services' 'active' %}"><a href="{% url 'table' 'services'%}" class="">Services</a></li>
                            <li class="{% is_active request 'protocols' 'active' %}"><a href="{% url 'table' 'protocols'%}" class="">Protocols</a></li>

                            <li class="{% is_active request 'ports' 'active' %}"><a href="{% url 'table' 'ports'%}" class="">Ports</a></li>
                            <li class="{% is_active request 'ports_avail' 'active' %}"><a href="{% url 'table' 'ports_avail'%}" class="">Ports avail</a></li>
                            <li class="{% is_active request 'system_ports' 'active' %}"><a href="{% url 'table' 'system_ports'%}" class="">System ports</a></li>
                            <li class="{% is_active request 'system_settings' 'active' %}"><a href="{% url 'table' 'system_settings'%}" class="">System settings</a></li>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="#"><span></span></a>
            <a href="{% url 'state' %}" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">NGFW "Барбакан"</span>
            </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="#">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <!-- Слева -->
            <ul class="navbar-nav mr-auto">
                <!--блок заголовка--->
                {% block header %}
                {% endblock header %}
            </ul>
            <!-- Справа -->
            <ul class="navbar-nav ml-auto">
                <!-- переподключение -->
                  <!-- переподключение -->
                {% if dev.mode != 'local' %}
                    <li>
                        <a href="{% url 'connect' %}" onclick="return confirm('Сменить подключение?');">{{ dev.ip }}</a>
                    </li>
                {% endif %}
                <!-- Полноэкранный режим -->
                <li>
                    <a href="#" class="full-screen" onclick="javascript:toggleFullScreen()">
                        <i class="feather icon-maximize"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content py-2">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <!--блок содержимого--->
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- [ блок скриптов ] start --->
    <script src="{% static 'main/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'main/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/pcoded.min.js' %}"></script>

    {% block script %}
    {% endblock script %}
    <!-- [ блок скриптов ] end --->

</body>
</html>
