<!DOCTYPE html>
<html lang="ru">

{% load static %}
{% load base_tag %}

<head>
{#    <title>NGFW "Барбакан"</title>#}
    <title>CoreBit.NGFW</title>
    <!-- [ блок стилей css ] start --->
    {% block style %}
    {% endblock style %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon">
    <!-- [ блок стилей css ] end --->
</head>

<body style="background: #FFF">

<script>       
    // Функция отключает мерцание
    function stop_flicker() {
        const logo_png = document.getElementById('logo_png');
        const logo_gif = document.getElementById('logo_gif');
        logo_png.hidden = true;
        logo_gif.hidden = false;
    }    
    // Функция включает мерцание
    function start_flicker() {
        const logo_png = document.getElementById('logo_png');
        const logo_gif = document.getElementById('logo_gif');
        logo_gif.hidden = true;
        logo_png.hidden = false;
    }
</script>

<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a id="logo" href="#" class="b-brand" onmouseout="stop_flicker()" onmouseover="start_flicker()">
{#                <div class="b-bg">#}
{#                    <i class="feather icon-trending-up"></i>#}
{#                </div>#}
{#                <span class="b-title">NGFW "Барбакан"</span>#}
                <img id="logo_png" src="{% static 'main/gif/logo.gif' %}" width="32" height="32" hidden alt="">
                <img id="logo_gif" src="{% static 'main/images/logo_corebit.png' %}" width="32" height="32" alt="">
                <span class="b-title">CoreBit.NGFW</span>
            </a>
        </div>
        <div class="navbar-content scroll-div overflow-auto">
            <ul class="nav pcoded-inner-navbar">

                {% if dev.url is not None %}

                    <!-- Группа - Система -->
                    <li class="nav-item pcoded-menu-caption"
                        {% check_permissions_hidden dev 'ports || system' 'readonly' %}>
                        <label>Система</label>
                    </li>

                    <!-- Состояние -->
                    <li class="nav-item {% is_active request 'state' 'active' %}"
                        {% check_permissions_hidden dev 'system' 'readonly' %}>
                        <a href="{% url 'state' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Состояние</span>
                        </a>
                    </li>

                    <!-- Порты -->
                    <li class="nav-item {% is_active request 'ports' 'active' %}"
                        {% check_permissions_hidden dev 'ports' 'readonly' %}>
                        <a href="{% url 'ports' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-airplay"></i>
                            </span>
                            <span class="pcoded-mtext">Порты</span>
                        </a>
                    </li>

                    <!-- Группа - Фильтрация -->
                    <li class="nav-item pcoded-menu-caption"
                        {% check_permissions_hidden dev 'rules || rules/history' 'readonly' %}>
                        <label>Межсетевой экран</label>
                    </li>

                    <!-- Правила -->
                    <li class="nav-item {% is_active request 'rules rules_add rules_edit' 'active' %}"
                        {% check_permissions_hidden dev 'rules ' 'readonly' %}>
                        <a href="{% url 'rules' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-trending-up"></i>
                            </span><span class="pcoded-mtext">Правила</span>
                        </a>
                    </li>

                    <!-- Списки -->
                    <li class="nav-item {% is_active request 'lists lists_add lists_edit' 'active' %}"
                        {% check_permissions_hidden dev 'rules ' 'readonly' %}>
                        <a href="{% url 'lists' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-list"></i>
                            </span><span class="pcoded-mtext">Списки</span>
                        </a>
                    </li>

                    <!-- История изменений  -->
                    <li class="nav-item {% is_active request 'history' 'active' %}"
                        {% check_permissions_hidden dev 'rules/history ' 'readonly' %}>
                        <a href="{% url 'history' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-clock"></i>
                            </span><span class="pcoded-mtext">История</span>
                        </a>
                    </li>

                    <!-- Группа - Маршрутизация -->
                    <li class="nav-item pcoded-menu-caption"
                        {% check_permissions_hidden dev 'router' 'readonly' %}>
                        <label>Маршрутизация</label>
                    </li>

                    <!-- Сеть -->
                    <li class="nav-item pcoded-hasmenu {% is_active request 'protocol_ipconfig protocol_ipconfig_add protocol_route protocol_route_add protocol_nat protocol_nat_add protocol_arp protocol_dhcp protocol_dhcp_table protocol_dhcp_subnet protocol_dhcp_subnet_edit protocol_dhcp_static protocol_dhcp_static_add' 'active pcoded-trigger' %}"
                        {% check_permissions_hidden dev 'router || router/protect ' 'readonly' %}>
                        <a href="#" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-wifi"></i>
                            </span><span class="pcoded-mtext">Сеть</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class="{% is_active request 'protocol_ipconfig protocol_ipconfig_add' 'active' %}">
                                <a href="{% url 'protocol_ipconfig' %}" class="">IP</a>
                            </li>
                            <li class="{% is_active request 'protocol_route protocol_route_add' 'active' %}">
                                <a href="{% url 'protocol_route' %}" class="">ROUTE</a>
                            </li>
                            <li class="{% is_active request 'protocol_nat protocol_nat_add' 'active' %}">
                                <a href="{% url 'protocol_nat' %}" class="">NAT</a>
                            </li>
                            <li class="{% is_active request 'protocol_arp' 'active' %}">
                                <a href="{% url 'protocol_arp' %}" class="">ARP</a>
                            </li>
                            <li class="pcoded-hasmenu {% is_active request 'protocol_dhcp_table protocol_dhcp_subnet protocol_dhcp_subnet_edit protocol_dhcp_static protocol_dhcp_static_add' 'pcoded-trigger active' %}">
                                <a href="#" class="">DHCP</a>
                                <ul class="pcoded-submenu">
                                    <li class="{% is_active request 'protocol_dhcp_table' 'active' %}"><a href="{% url 'protocol_dhcp_table' %}">Выданные адреса</a></li>
                                    <li class="{% is_active request 'protocol_dhcp_subnet protocol_dhcp_subnet_edit' 'active' %}"><a href="{% url 'protocol_dhcp_subnet' %}">Настройки подсетей</a></li>
                                    <li class="{% is_active request 'protocol_dhcp_static protocol_dhcp_static_add' 'active' %}"><a href="{% url 'protocol_dhcp_static' %}">Статические адреса</a></li>
                                </ul>
{#                                <span class="pcoded-badge label label-danger">Develop</span>#}
                            </li>
                        </ul>
                    </li>

                    <!-- Защита сети -->
                    <li class="nav-item {% is_active request 'protect' 'active' %}"
                        {% check_permissions_hidden dev 'router/protect ' 'readonly' %}>
                        <a href="{% url 'protect' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-shield"></i>
                            </span><span class="pcoded-mtext">Защита сети</span>
                        </a>
                    </li>

                    <!-- Группа - Администрирование -->
                    <li class="nav-item pcoded-menu-caption"
                        {% check_permissions_hidden dev 'auth/users || auth/permissions ' 'readonly' %}>
                        <label>Аутентификация</label>
                    </li>

                    <!-- Настройки паролей -->
                    <li class="nav-item {% is_active request 'auth' 'active' %}"
                        {% check_permissions_hidden dev 'auth/users ' 'readonly' %}>
                        <a href="{% url 'auth' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-user"></i>
                            </span><span class="pcoded-mtext">Пользователи</span>
                        </a>
                    </li>
                    
                    <!-- Настройки прав пользователей  -->
                    <li class="nav-item {% is_active request 'permissions' 'active' %}"
                        {% check_permissions_hidden dev 'auth/permissions ' 'readonly' %}>
                        <a href="{% url 'permissions' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-users"></i>
                            </span><span class="pcoded-mtext">Привилегии</span>
{#                            <span class="pcoded-badge label label-info">New</span>#}
                        </a>
                    </li>
                    
                    <!-- Группа - Администрирование -->
                    <li class="nav-item pcoded-menu-caption"
                        {% check_permissions_hidden dev 'syslog || service || inspection || ipsids || classification ' 'readonly' %}>
                        <label>Администрирование</label>
                    </li>
                    
                    <!-- Логирование -->
                    <li class="nav-item {% is_active request 'syslog' 'active' %}"
                        {% check_permissions_hidden dev 'syslog ' 'readonly' %}>
                        <a href="{% url 'syslog' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-list"></i>
                            </span><span class="pcoded-mtext">Логирование</span>
                        </a>
                    </li>

                    <!-- Запись трафика -->
                    <li class="nav-item {% is_active request 'write' 'active' %}"
                        {% check_permissions_hidden dev 'service ' 'readonly' %}>
                        <a href="{% url 'write' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span><span class="pcoded-mtext">Запись трафика</span>
                        </a>
                    </li>

                    <!-- Контентная фильтрация -->
                    <li class="nav-item {% is_active request 'inspection' 'active' %}"
                        {% check_permissions_hidden dev 'inspection ' 'readonly' %}>
                        <a href="{% url 'inspection' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-filter"></i>
                            </span><span class="pcoded-mtext">Контентная фильтрация</span>
                        </a>
                    </li>

                    <!-- Система обнаружения вторжений -->
                    <li class="nav-item {% is_active request 'ipsids' 'active' %}"
                        {% check_permissions_hidden dev 'ipsids ' 'readonly' %}>
                        <a href="{% url 'ipsids' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-alert-triangle"></i>
                            </span><span class="pcoded-mtext">Обнаружение вторжений</span>
                        </a>
                    </li>

                    <!-- Настройки DPI -->
                    <li class="nav-item {% is_active request 'classification' 'active' %}"
                        {% check_permissions_hidden dev 'classification ' 'readonly' %}>
                        <a href="{% url 'classification' %}" class="nav-link" onmouseout="stop_flicker()" onmouseover="start_flicker()">
                            <span class="pcoded-micon">
                                <i class="feather icon-clipboard"></i>
                            </span><span class="pcoded-mtext">Настройки DPI</span>
                        </a>
                    </li>

{#                    <!-- Группа - Сервис -->#}
{#                    <li class="nav-item pcoded-menu-caption" hidden>#}
{#                        <label>Сервис</label>#}
{#                    </li>#}
{##}
{#                    <!-- Debug -->#}
{#                    <li class="nav-item pcoded-hasmenu {% is_active request 'table' 'active pcoded-trigger' %}" hidden>#}
{#                        <a href="#" class="nav-link">#}
{#                            <span class="pcoded-micon"><i class="feather icon-gitlab"></i></span><span class="pcoded-mtext">Debug</span>#}
{#                        </a>#}
{#                        <ul class="pcoded-submenu">#}
{##}
{#                            <li class="{% is_active request 'atomic' 'active' %}"><a href="{% url 'table' 'atomic' %}" class="">Atomic</a></li>#}
{#                            <li class="{% is_active request 'format' 'active' %}"><a href="{% url 'table' 'format'%}" class="">Format</a></li>#}
{#                            <li class="{% is_active request 'services' 'active' %}"><a href="{% url 'table' 'services'%}" class="">Services</a></li>#}
{#                            <li class="{% is_active request 'protocols' 'active' %}"><a href="{% url 'table' 'protocols'%}" class="">Protocols</a></li>#}
{##}
{#                            <li class="{% is_active request 'ports' 'active' %}"><a href="{% url 'table' 'ports'%}" class="">Ports</a></li>#}
{#                            <li class="{% is_active request 'ports_avail' 'active' %}"><a href="{% url 'table' 'ports_avail'%}" class="">Ports avail</a></li>#}
{#                            <li class="{% is_active request 'system_ports' 'active' %}"><a href="{% url 'table' 'system_ports'%}" class="">System ports</a></li>#}
{#                            <li class="{% is_active request 'system_settings' 'active' %}"><a href="{% url 'table' 'system_settings'%}" class="">System settings</a></li>#}
{##}
{#                        </ul>#}
{#                    </li>#}

                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->

<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="#"><span></span></a>
        <a href="{% url 'state' %}" class="b-brand">
            <div class="b-bg">
                <i class="feather icon-trending-up"></i>
            </div>
{#            <span class="b-title">NGFW "Барбакан"</span>#}
            <span class="b-title">CoreBit.NGFW</span>
        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="#">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        <!-- Слева -->
        <ul class="navbar-nav mr-auto">
            <!--блок заголовка--->
            {% block header %}
            {% endblock header %}
        </ul>
        <!-- Справа -->
        <ul class="navbar-nav ml-auto">
            <!-- переподключение --> 
            {% if dev.mode != 'local' %}
                <li>
                    {% if dev.ip == 'localhost' or  dev.ip == '127.0.0.1' %}
                        <a href="{% url 'connect' %}" onclick="return confirm('Сменить подключение?');">{{ dev.login }}</a>                    	
                    {% else %}
                        <a href="{% url 'connect' %}" onclick="return confirm('Сменить подключение?');">{{ dev.login }} ({{ dev.ip }})</a>                    	
                    {% endif %} 
                </li>
            {% endif %}
            <!-- Полноэкранный режим -->
            <li>
                <a href="#" class="full-screen" onclick="javascript:toggleFullScreen()">
                    <i class="feather icon-maximize"></i>
                </a>
            </li>
        </ul>
    </div>
</header>
<!-- [ Header ] end -->

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content py-2">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <!--блок содержимого--->
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

<!-- [ блок скриптов ] start --->
<script src="{% static 'main/js/vendor-all.min.js' %}"></script>
<script src="{% static 'main/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/pcoded.min.js' %}"></script>

{% block script %}
{% endblock script %}
<!-- [ блок скриптов ] end --->

</body>
</html>
