{% extends "rules/../base.html" %}
{% load static %}


{% block header %}
        <li>
        <div class="card-header">
            <h5>{{ caption }}</h5>
        </div>
    </li>
{% endblock header %}


{% block content %}

    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">
                <table id="col-reorder"
                       class="display table nowrap table-striped table-hover footable footable-1 footable-paging footable-paging-center"
                       style="width:100%">
                    <thead>
                        <tr>
                        {% for col in columns %}
                            <th>{{ col }}</th>
                        {% endfor %}
                       </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                {% for val in row %}
                                    <td style="display: table-cell;">{{ val }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
