{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
{#    <script src="{% static 'main/plugins/jquery/js/jquery.min.js' %}"></script>#}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        function refreshSysAjax() {
            $.ajax({
                type: 'GET',
                url: '{% url 'sys_ajax' %}',
                dataType: 'json',
                success: function (response) {
                    //let content = document.getElementById('currentCores');
                    //let json = JSON.parse(currentTime);
                    //let core0 = json['Core0'];
                    //print(response);
                    //currentTime.textContent = core0;
                }
            });
            setTimeout(refreshSysAjax, 5000);
        }

        // Выполнить при загрузке страницы
        window.addEventListener('load', () => {
            refreshSysAjax();
        });
    </script>


{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-home"></i>Система
        </h4>
    </li>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Параметры системы</h5>
                        </div>
                        <ul class="breadcrumb m-t-10">
                            <li class="breadcrumb-item"><a href="{% url 'sys' %}"><i
                                    class="feather icon-home p-r-5"></i>Система</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p class="text-dark">Версия ПО: {{ version.version }}</p>
                        <p class="text-dark">Серийный номер: {{ serial.serial_number }}</p>
                        <p class="text-dark">Статус системы: {{ status.main_status }} - {{ status.sub_status }}</p>
                        <p class="text-dark">Время старта: {{ uptime.start_time }}
                            <br/>Время работы: {{ uptime.days }}д. {{ uptime.hours }}ч. {{ uptime.mins }}мин. {{ uptime.secs }}сек.</p>

                        <p class="text-dark">Память: {{ ram }}</p>
                        <p class="text-dark">Диски: {{ disk }}</p>
                        <p class="text-dark">Ядра процессора: {{ lcores }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}