{% extends "base.html" %}
{% load static %}
{% load base_tag %}


{# Стили #}
{% block style %}
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script>

        // Скрипт валидации
        function Validate(elementId, validLiId, validDivId, format, text) {
            // Получить контролы валидации
            const element = document.getElementById(elementId);
            const validLi = document.getElementById(validLiId);
            const validDiv = document.getElementById(validDivId);
            // Выполнить проверку содержимого
            validDiv.hidden = true;

            if (element.value === 'all') {
                return true
            }

            var arrayStr = element.value.split(',')

            let result = true;

            for (let port of arrayStr) {
                if (port.trim().match(format)) {
                } else {
                    result = false
                    // Отобразить ошибку
                    validDiv.hidden = false;
                    validDiv.classList.add('text-danger');
                    validDiv.classList.remove("invalid-feedback");
                    text += ' ' + port + ';';
                }
            }
            validLi.textContent = text;
            return result;
        }

        // Валидация в зависимости от формата
        function ValidateAll(protocol) {
            // определить формат валидации
            const formatPort = /^((6553[0-5])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-5]{0,5})|([0-9]{1,4}))$/;

            let res = true;

            if (protocol === 'arp') {
                // выполнить валидацию
                res = Validate("arpports", "validLi_arpports", "validDiv_arpports", formatPort, "Неверное значение порта:");
            }
            if (protocol === 'icmp') {
                // выполнить валидацию
                res = Validate("icmpports", "validLi_icmpports", "validDiv_icmpports", formatPort, "Неверное значение порта:");
            }
            return res
        }

        // Запрос данных Ajax
        function PostStatusAjax() {
            var id = event.target.id
            let checked = event.target.checked;
            let limits = ''
            let ports = ''
            let valid = true

            let proto = ''
            if (id === 'statusArp') {
                proto = 'arp'
                limits = document.getElementById('arplimits').value
                ports = document.getElementById('arpports').value
                valid = ValidateAll('arp')
            }
            if (id === 'statusICMP') {
                proto = 'icmp'
                limits = document.getElementById('icmplimits').value
                ports = document.getElementById('icmpports').value
                valid = ValidateAll('icmp')
            }
            if (id === 'statusDHCP') {
                proto = 'dhcp'
            }

            let param = ''
            if (checked === false) {
                // Параметры
                param = {
                    type: "GET",
                    dataType: "json",
                    url: '{% url 'protect' %}',
                    data: {'status': checked, proto: proto},
                }
            }
            if (checked === true) {
                // Параметры
                param = {
                    type: "GET",
                    dataType: "json",
                    url: '{% url 'protect' %}',
                    data: {'limits': limits, 'ports': ports, proto: proto, 'status': checked},
                }
            }

            if (id === 'statusDHCP') {
                // Параметры
                param = {
                    type: "GET",
                    dataType: "json",
                    url: '{% url 'protect' %}',
                    data: {'status': checked, proto: proto},
                }
                $.ajax(param);
            }

            // Выполнить запрос
            if (valid === true) {
                $.ajax(param);
                if (id === 'statusArp') {
                    let arplimits = document.getElementById('arplimits');
                    arplimits.readOnly = checked;
                    let arpports = document.getElementById('arpports');
                    arpports.readOnly = checked;
                }
                if (id === 'statusICMP') {
                    let icmplimits = document.getElementById('icmplimits');
                    icmplimits.readOnly = checked;
                    let icmpports = document.getElementById('icmpports');
                    icmpports.readOnly = checked;
                }
            } else {
                event.target.checked = false;
            }


        }

        function ReadOnly() {
            var arp = document.getElementById('statusArp').checked
            let arplimits1 = document.getElementById('arplimits');
            arplimits1.readOnly = arp;
            let arpports1 = document.getElementById('arpports');
            arpports1.readOnly = arp;

            var icmp = document.getElementById('statusICMP').checked
            let icmplimits1 = document.getElementById('icmplimits');
            icmplimits1.readOnly = icmp;
            let icmpports1 = document.getElementById('icmpports');
            icmpports1.readOnly = icmp;

        }

        // Запуск при загрузке страницы
        window.addEventListener('load', () => {
            ReadOnly();
        });
    </script>

{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-shield"></i>Защита сети
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'protect' %}">Защита сети</a></li>
    </ul>
{% endblock header %}


{# Содержимое #}
{% block content %}
    <div class="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Защита сети DHCP</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="switch switch-primary d-inline m-r-10">
                                    <input type="checkbox" id="statusDHCP"
                                           {% if dhcp.dhcp_snooping == 'true' %}checked{% endif %}
                                           hidden
                                           onchange="PostStatusAjax()">
                                    <label for="statusDHCP" class="cr"></label>
                                    <label class="text-dark" style="margin-left: 10px">Включить защиту от атак с
                                        использованием протокола DHCP</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Защита сети ARP</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="switch switch-primary d-inline m-r-10">
                                    <input type="checkbox" id="statusArp"
                                           {% if arp.status == 'true' %}checked{% endif %}
                                           hidden onchange="PostStatusAjax()">
                                    <label for="statusArp" class="cr"></label>
                                    <label class="text-dark" style="margin-left: 10px">Включить защиту от атак с
                                        использованием протокола ARP</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="arplimits">Ограничение количества пакетов:</label>
                                    <input id="arplimits" type="text" class="form-control" value="{{ arp.limits }}">
                                </div>
                                <div class="form-group">
                                    <label for="arpports">Список портов устройства:</label>
                                    <input id="arpports" type="text" class="form-control" value="{{ arp.ports }}">
                                </div>
                                <div class="invalid-feedback" id="validDiv_arpports">
                                    <ul>
                                        <li id="validLi_arpports"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Защита сети ICMP</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="switch switch-primary d-inline m-r-10">
                                    <input type="checkbox" id="statusICMP"
                                           {% if icmp.status == 'true' %}checked{% endif %}
                                           hidden onclick="PostStatusAjax()">
                                    <label for="statusICMP" class="cr"></label>
                                    <label class="text-dark" style="margin-left: 10px">Включить защиту от атак с
                                        использованием протокола ICMP</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="icmplimits">Ограничение количества пакетов:</label>
                                    <input id="icmplimits" type="text" class="form-control" value="{{ icmp.limits }}">
                                </div>
                                <div class="form-group">
                                    <label for="icmpports">Список портов устройства:</label>
                                    <input id="icmpports" type="text" class="form-control" value="{{ icmp.ports }}">
                                </div>
                                <div class="invalid-feedback" id="validDiv_icmpports">
                                    <ul>
                                        <li id="validLi_icmpports"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}