{% extends "base.html" %}
{% load static %}
{% load base_tag %}


{# Стили #}
{% block style %}
{% endblock style %}

{# Скрипты #}
{% block script %}

{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-monitor"></i>Конфигурация системного журнала
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'syslog' %}">Системный журнал</a></li>
    </ul>
{% endblock header %}


{# Содержимое #}
{% block content %}
    {{ arp }}
    {{ ipmp }}
    {{ dhcp }}
    <div class="page-wrapper">
        <div class="card">
            <div class="card-header">
                <div class="page-header-title">
                    <h5>ARP</h5>
                </div>
            </div>
            <div class="card-body" style="margin-top: 0; padding-top: 10px">
                <div class="row">
                    <div class="col-auto p-r-0 p-t-10">
                        <label for="ipText">Кол-во пакетов</label>
                    </div>
                    <div class="col-auto">
                        <input id="ipText" type="text" class="form-control" value="{{ arp.limits }}">
                    </div>

                    <div class="col-auto p-r-0 p-t-10">
                        <label for="portText">Порты:</label>
                    </div>
                    <div class="col-auto">
                        <input id="portText" type="text" class="form-control" value="{{ arp.ports }}">
                        <div class="invalid-feedback" id="validDiv_portText">
                            <ul>
                                <li id="validLi_portText"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="switch switch-primary d-inline m-r-10">
                            <input type="checkbox" id="statusArp" {% if arp.status == 'true' %}checked{% endif %} hidden
                                   onchange="PostStatusAjax()">
                            <label for="statusArp" class="cr"></label>
                            <label class="text-dark" style="margin-left: 10px">Статус</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="page-header-title">
                    <h5>IPMP</h5>
                </div>
            </div>
            <div class="card-body" style="margin-top: 0; padding-top: 10px">
                <div class="row">
                    <div class="col-auto p-r-0 p-t-10">
                        <label for="ipText">Кол-во пакетов</label>
                    </div>
                    <div class="col-auto">
                        <input id="ipText" type="text" class="form-control" value="{{ ipmp.limits }}">
                    </div>

                    <div class="col-auto p-r-0 p-t-10">
                        <label for="portText">Порты:</label>
                    </div>
                    <div class="col-auto">
                        <input id="portText" type="text" class="form-control" value="{{ ipmp.ports }}">
                        <div class="invalid-feedback" id="validDiv_portText">
                            <ul>
                                <li id="validLi_portText"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="switch switch-primary d-inline m-r-10">
                            <input type="checkbox" id="statusIPMP" {% if ipmp.status == 'true' %}checked{% endif %}
                                   hidden
                                   onchange="PostStatusAjax()">
                            <label for="statusIPMP" class="cr"></label>
                            <label class="text-dark" style="margin-left: 10px">Статус</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="page-header-title">
                    <h5>DHCP</h5>
                </div>
            </div>
            <div class="card-body" style="margin-top: 0; padding-top: 10px">
                <div class="row">
                    <div class="col-auto">
                        <div class="switch switch-primary d-inline m-r-10">
                            <input type="checkbox" id="statusDHCP" {% if dhcp.dhcp_snooping == 'true' %}checked{% endif %}
                                   hidden
                                   onchange="PostStatusAjax()">
                            <label for="statusDHCP" class="cr"></label>
                            <label class="text-dark" style="margin-left: 10px">Статус</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}