{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
{% endblock style %}

{# Скрипты #}
{% block script %}
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-home"></i>Протокол DHCP
        </h4>
    </li>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Протокол DHCP</h5>
                        </div>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}