{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script src="{% static 'main/js/pages/tbl-datatable-custom.js' %}"></script>
    <script src="{% static 'main/plugins/data-tables/js/datatables.min.js' %}"></script>
    <script src="{% static 'language/ru-table.js' %}"></script>
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-wifi"></i>Подключения IP
        </h4>
    </li>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Настройки протокола IP и сетевых подключений</h5>
                        </div>
                        <ul class="breadcrumb m-t-10">
                            <li class="breadcrumb-item"><a href="{% url 'protocol_ipconfig' %}">
                                <i class="feather icon-wifi p-r-5"></i>Подключения</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <!-- Кнопка Добавить -->
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'protocol_ipconfig_add' %}" class="btn btn-primary shadow-2" style="width: 160px">Добавить</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row m-t-10">
                            <div class="col">
                                <!-- Таблица списков -->
                                <div class="table-responsive">
                                    <table id="col-reorder" class="display table nowrap table-striped table-hover footable">
                                        <thead>
                                        <tr>
                                            <th title="Удаление"><i class="feather icon-trash"></i></th>
                                            <th>Номер физического порта</th>
                                            <th>IP-адрес</th>
                                            <th>Шлюз</th>
                                            <th>VLAN</th>
                                            <th>MAC-адрес</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for conf in ipconfig %}
                                            <tr>
                                                <!-- Удаление -->
                                                <td style="display: table-cell;">
                                                    <div>
                                                        <a href="{% url 'protocol_route' %}?delete={{ conf.id }}"
                                                           onclick="return confirm('Удалить маршрут?');">
                                                            <i class="feather icon-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <!-- Порт -->
                                                <td style="display: table-cell;">{{ conf.port }}</td>
                                                <!-- IP-адрес -->
                                                <td style="display: table-cell;">{{ conf.ip }}</td>
                                                <!-- GetaWay -->
                                                <td style="display: table-cell;">{{ conf.ipgw }}</td>
                                                <!-- VLAN -->
                                                <td style="display: table-cell;">{{ conf.vlan_id }}</td>
                                                <!-- MAC-адрес -->
                                                <td style="display: table-cell;">{{ conf.mac }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}