{% extends "base.html" %}
{% load static %}


{% block header %}
    <li>
        <div class="card-header">
            <h5>Подправило: {{ rule.name }}</h5>
        </div>
    </li>
{% endblock header %}


{% block content %}

    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">

                <!-- [Описание правила] start-->
                <p>Тип: {{ rule.rtype }}<br/>
                   Включено: {{ rule.is_enable }}<br/>
                   Описание: {{ rule.description }}<br/>
                   Подправила объединяются логически оператором "И".
                </p>
                <!-- [Описание правила] end-->

                <!-- [Новое подправило] start -->
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#subruleInsert" >
                    <i class="feather icon-flag"></i>Новое подправило
                </button>
                {% include "rules/subrules/subrules_form.html" with action='insert' %}
                <!-- [Новое подправило] end -->

                <!-- [Отображение списка подправил] end -->
                <table id="col-reorder"
                       class="display table nowrap table-striped table-hover footable footable-1 footable-paging footable-paging-center"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th><i class="feather icon-maximize-2"></i></th>
                        <th>Атомарное правило</th>
                        <th>Тип</th>
                        <th>Формат</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for s in rule.sub2 %}
                            <tr>
                                <td style="display: table-cell; width: 30px;">
                                    <div>
                                        <a href="#!" type="button" data-toggle="modal" data-target="#subruleUpdate_{{ s.id }}">
                                            <i class="icon feather icon-edit-2"></i>
                                        </a>
                                    </div>
                                </td>
                                <td style="display: table-cell; width: 30px;">
                                   {% if s.is_invert == '0' %}
                                        <i title="Прямое" class="feather icon-arrow-up-right"></i>
                                    {% else %}
                                        <i title="Инвертированное" class="feather icon-arrow-down-left"></i>
                                    {% endif %}
                                </td>
                                <td style="display: table-cell;">{{ s.ar_description }}</td>
                                <td style="display: table-cell;">{{ s.ar_type }}</td>
                                <td style="display: table-cell;">{{ s.ar_format }}</td>
                            </tr>

                            <!-- [Модальное окно редактирования правила] -->
                            {% include "rules/subrules/subrules_form.html" with sub=s action='update' %}

                        {% endfor %}
                    </tbody>
                </table>
                <!-- [Отображение списка подправил] end -->

            </div>
        </div>
    </div>


{% endblock content %}