{% extends "base.html" %}
{% load static %}
{% load base_tag %}


{# Стили #}
{% block style %}
{% endblock style %}

{# Скрипты #}
{% block script %}
    <!-- Обновление статуса -->
    <script>
        // Запрос данных Ajax
        function PostStatusAjax() {
            let status = document.getElementById('status');
            let checked = status.checked;
            // Параметры
            const param = {
                type: "GET",
                dataType: "json",
                url: '{% url 'inspection' %}',
                data: {'checked': checked},
            }
            // Выполнить запрос
            $.ajax(param);
        }

        // Запрос данных Ajax
        function LoadKey() {
            // Параметры
            const param = {
                type: "GET",
                dataType: "html",
                data: {getKey: 'true'},
                url: '{% url 'inspection' %}',
                success: SaveFileKey
            }
            // Выполнить запрос
            $.ajax(param);
        }

        // Запрос данных Ajax
        function LoadCer() {
            // Параметры
            const param = {
                type: "GET",
                dataType: "html",
                data: {getCer: 'true'},
                url: '{% url 'inspection' %}',
                success: SaveFileCer
            }
            // Выполнить запрос
            $.ajax(param);
        }

        // Ключ
        function SaveFileKey(data) {
            download(data, "key", "txt")
        }
         // Ключ
        function SaveFileCer(data) {
            download(data, "cert", "txt")
        }


        // Скачать файл
        function download(data, filename, type) {
            var file = new Blob([data], {type: type});
            if (window.navigator.msSaveOrOpenBlob) // IE10+
                window.navigator.msSaveOrOpenBlob(file, filename);
            else { // Others
                var a = document.createElement("a"),
                    url = URL.createObjectURL(file);
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                setTimeout(function () {
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                }, 0);
            }
        }
    </script>
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-filter"></i>Статус контентной фильтрации
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'inspection' %}">Контентная фильтрация</a></li>
    </ul>
{% endblock header %}


{# Содержимое #}
{% block content %}
    <div class="page-wrapper">
        <div class="card">
            <div class="card-header">
                <div class="page-header-title">
                    <h5>Статус</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row p-b-30">
                        <div class="col">
                            <div class="switch switch-primary d-inline m-r-10">
                                <input type="checkbox" id="status" onchange="PostStatusAjax()"
                                       {% if status.tls_mitm_enable == 'true' %}checked{% endif %}>
                                <label for="status" class="cr"></label>
                            </div>
                            <label class="text-dark">Включить контентную фильтрацию</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="rules">Ключ:</label>
{#                            <p class="text-muted">{% replace ca.key '\n' '' %}</p>#}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary shadow-2" style="width: 160px"
                                    onclick="LoadKey()">Скачать
                            </button>
                            <button type="submit" class="btn btn-primary shadow-2" style="width: 160px">Загрузить
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <label for="config">Сертификат:</label>
{#                            <p class="text-muted">{% replace ca.cer '\n' '' %}</p>#}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary shadow-2" style="width: 160px" onclick="LoadCer()">Скачать
                            </button>
                            <button type="submit" class="btn btn-primary shadow-2" style="width: 160px">Загрузить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}