{% extends "base.html" %}
{% load static %}
{% load base_tag %}

{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script src="{% static 'main/js/pages/tbl-datatable-custom.js' %}"></script>
    <script src="{% static 'main/plugins/data-tables/js/datatables.min.js' %}"></script>
    <script src="{% static 'language/ru-table.js' %}"></script>
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-user"></i>Настройки паролей пользователей системы
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'auth' %}">Настройки паролей</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}
    
    <!-- Проверка привилегий -->
    {% check_permissions dev 'auth/users' 'readwrite' as  readwrite %}
    
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Пользователи</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <!-- Таблица списков -->
                                <div class="table-responsive">
                                    <table id="col-reorder"
                                           class="display table nowrap table-striped table-hover footable">
                                        <thead>
                                        <tr>
                                            <th>Логин</th>
                                            <th>Пароль</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for login in users %}
                                            <tr>
                                                <!-- Логин -->
                                                <td style="display: table-cell;">
                                                    {% if readwrite %}
                                                        <a href="{% url 'auth_user' login %}">{{ login }}</a>
                                                    {% else %}               
                                                        {{ login }}
                                                    {% endif %} 
                                                </td> 
                                                <!-- Пароль -->
                                                <td style="display: table-cell;">{{ '********' }}</td>
                                           </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}