{% extends "base.html" %}
{% load static %}
{% load base_tag %}

{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script src="{% static 'main/js/pages/tbl-datatable-custom.js' %}"></script>
    <script src="{% static 'main/plugins/data-tables/js/datatables.min.js' %}"></script>
    <script src="{% static 'language/ru-table.js' %}"></script>

    <script>
    function PermissionsAjax(select, path, user)
    {
        let permission = select.value;
        {#alert(path + ' - ' + user + ' - ' + permission);#}     
                
        if(select.classList.contains('text-danger'))
            select.classList.remove('text-danger');
        if(select.classList.contains('text-success'))
            select.classList.remove('text-success');
        if(select.classList.contains('text-primary'))
            select.classList.remove('text-primary');
        if(permission === 'NONE')
            select.classList.add("text-danger");
        if(permission === 'READONLY')
            select.classList.add("text-primary");
        if(permission === 'READWRITE')
            select.classList.add("text-success");
        
        // Параметры
        const param = {
            type: "GET",
            dataType: "json",
            url: '{% url 'permissions' %}',
            data: {'path': path,
                   'user': user,
                   'permission': permission}
        }
        $.ajax(param);
    }    
    </script>
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-users"></i>Распределение прав пользователей системы
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'permissions' %}">Распределение прав</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}
    
    <!-- Проверка привилегий -->
    {% check_permissions dev 'auth/permissions' 'readwrite' as  readwrite %} 
    
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Права пользователей</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <!-- Таблица списков -->
                                <div class="table-responsive">
                                    <table id="col-reorder"
                                           class="display table nowrap table-striped table-hover footable">
                                        <thead>
                                        <tr>
                                            <th>Привилегия</th>
                                            <th>rest-api</th>
                                            {% for login in users %}
                                                <th>{{ login }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for perm in permissions %}
                                            <tr>
                                                <!-- Привилегия -->
                                                <td style="display: table-cell;">{{ perm.name }}</td>
                                                {% for login in users %}
                                                    <td style="display: table-cell;">                                                    	
                                                        <label for="select" hidden></label>
                                                        <select style="appearance: none"
                                                                class="border-0 
                                                                {% permissions_text perm.permissions login 'NONE' 'text-danger' %}
                                                                {% permissions_text perm.permissions login 'READONLY' 'text-primary' %}
                                                                {% permissions_text perm.permissions login 'READWRITE' 'text-success' %}"
                                                                id="select" onchange="PermissionsAjax(this, '{{ perm.path }}', '{{ login }}')"                                                            
                                                                {% if not readwrite %} disabled {% endif %}>
                                                            <option value="NONE" {% permissions_text perm.permissions login 'NONE' 'selected' %}>Запрещено</option>
                                                            <option value="READONLY" {% permissions_text perm.permissions login 'READONLY' 'selected' %}>Просмотр</option>
                                                            <option value="READWRITE" {% permissions_text perm.permissions login 'READWRITE' 'selected' %}>Редактирование</option>
                                                        </select>
                                                    </td>
                                                {% endfor %}
                                           </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}