{% extends "rules/../base.html" %}
{% load static %}

{# Стили #}
{% block style %}
{% endblock style %}

{# Скрипты #}
{% block script %}
{% endblock script %}

{# Заголовок #}
{% block header %}
     <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-trending-up"></i>{{ caption }}
        </h4>
    </li>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="card">
            <div class="card-header">
                <div class="page-header-title">
                    <h5>Параметры правила</h5>
                </div>
                <ul class="breadcrumb m-t-10">
                    <li class="breadcrumb-item"><a href="{% url 'rules' %}"><i class="feather icon-trending-up p-r-5"></i>Правила</a></li>
                    <li class="breadcrumb-item"><a href="#!">{% if rule.name == None %}Новое{% else %}{{ rule.name }}{% endif %}</a></li>
                </ul>
            </div>
            <form action="" method="post" id="ruleEditForm" >
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <!-- Кнопки -->
                        <div class="col text-left">
                            {% if action == 'add' %}
                                <button type="submit" name="btnInsert" class="btn btn-primary shadow-2 wid-140">Создать</button>
                            {% else %}
                                <button type="submit" name="btnUpdate" class="btn btn-primary shadow-2 wid-140">Сохранить</button>
                                <a href="{% url 'rules_sub_edit' rule.id %}" class="btn btn-outline-primary shadow-2 wid-140">Подправила</a>
                            {% endif %}
                        </div>
                        <div class="col text-right">
                        </div>
                    </div>
                    <div class="row">
                        <!-- Параметры правила -->
                        <div class="col-md-6 col-xl-4">
                            <input name="id" value="{{ rule.id }}" type="hidden">
                            <input name="sub" value="{{ rule.sub }}" type="hidden">
                            <!-- Название -->
                            <div class="form-group">
                                <label for="name">Название:</label>
                                <input id="name" name="name" value="{{ rule.name }}" type="text" class="form-control" required>
                            </div>
                            <!-- Включено -->
                            <div class="form-group">
                                <label for="is_enable">Включено:</label>
                                <select id="is_enable" name="is_enable" value="{{ rule.is_enable }}" class="form-control" required>
                                    <option value="true" {% if rule.is_enable == 'true' %}selected="selected"{% endif %}>Вкл</option>
                                    <option value="false" {% if rule.is_enable == 'false' %}selected="selected"{% endif %}>Выкл</option>
                                </select>
                            </div>
                            <!-- Тип правила -->
                            <div class="form-group">
                                <label for="rtype">Тип правила:</label>
                                <select id="rtype" name="rtype" value="{{ rule.rtype }}" class="form-control" required>
                                    <option value="black" {% if rule.rtype == 'black' %}selected="selected"{% endif %}>Запрещено</option>
                                    <option value="white" {% if rule.rtype == 'white' %}selected="selected"{% endif %}>Разрешено</option>
                                </select>
                            </div>
                        </div>
                        <!-- Содержимое правила -->
                        <div class="col-xl-8 col-md-6">
                            <div class="form-group">
                                <label for="description">Описание:</label>
                                <textarea id="description" name="description" class="form-control" rows="9">{{ rule.description }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}








