{% extends "base.html" %}
{% load static %}


{% block header %}
    <li>
        <div class="card-header">
            <h5>Правила фильтрации сетевого трафика</h5>
        </div>
    </li>
{% endblock header %}

{% block content %}

   <!-- Список правил -->
    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">


                <!-- [Описание NGFW] start-->
                <p>NGFW поддерживает две группы правил фильтрации:<br/>
                    - правила блокировки сетевого трафика (чёрный список black) - подлежащие блокированию при их определении в сетевом трафике.;<br/>
                    - правила разрешенного сетевого трафика (белый список white) - подлежащие обязательному прохождению в случае их определения в сетевом трафике;<br/>
                   Белый список имеет высший приоритет по сравнению с черным списком.<br/>
                   Правила объединяются логически оператором "ИЛИ".
                </p>
                <!-- [Описание NGFW] end-->

                <!-- [Новое правило] start -->
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ruleInsert" >
                    <i class="feather icon-flag"></i>Новое правило
                </button>
                {% include "rules/rules/rules_form.html" with action='insert' %}
                <!-- [Новое правило] end -->

                <!-- [Таблица правил] start -->
                <table id="col-reorder"
                       class="display table nowrap table-striped table-hover footable"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Тип</th>
                        <th>Включено</th>
                        <th>Название</th>
                        <th>Подправила</th>
                        <th>Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for r in rules %}
                        <!-- [Строка правила] start -->
                        <tr>
                            <td style="display: table-cell; width: 30px;">
                                <div>
                                    <a href="#!" type="button" data-toggle="modal" data-target="#ruleUpdate_{{ r.id }}">
                                        <i class="icon feather icon-edit-2"></i>
                                    </a>
                                </div>
                            </td>
                            <td style="display: table-cell;">{{ r.rtype }}</td>
                            <td style="display: table-cell;">{{ r.is_enable }}</td>
                            <td style="display: table-cell;">
                                <a href="{% url 'subrules' r.id %}">{{ r.name|truncatechars:50 }}</a>
                            </td>
                            <td style="display: table-cell;">
                                {% for s in r.sub2 %}
                                    {% if s.is_invert == '0' %}
                                        <i title="Прямое" class="feather icon-arrow-up-right"></i>
                                    {% else %}
                                        <i title="Инвертированное" class="feather icon-arrow-down-left"></i>
                                    {% endif %}
                                    {{ s.ar_format }} {{ s.ar_type }}
                                    {{ s.ar_description|truncatechars:50 }}
                                    <br/>
                                {% endfor %}
                            </td>
                            <td style="display: table-cell;">{{ r.description|wordwrap:100|linebreaksbr }}</td>
                        </tr>
                        <!-- [Строка правила] end -->

                        <!-- [Модальное окно редактирования правила] -->
                        {% include "rules/rules/rules_form.html" with rule=r action='update' %}

                    {% endfor %}
                    </tbody>
                </table>
                <!-- [Таблица правил] end -->

            </div>
        </div>
    </div>

{% endblock content %}