{% extends "base.html" %}

{% load static %}
{% load base_tag %}

{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script src="{% static 'main/js/pages/tbl-datatable-custom.js' %}"></script>
    <script src="{% static 'main/plugins/data-tables/js/datatables.min.js' %}"></script>
    <script src="{% static 'language/ru-table.js' %}"></script>
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-trending-up"></i>Правила NGFW
        </h4>
    </li>
{% endblock header %}

{# Содержимое #}
{% block content %}
    <div class="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Правила фильтрации сетевого трафика</h5>
                    </div>
                    <div class="card-body">
                        <!-- Кнопки добавить, свернуть, развернуть -->
                        <form action="" method="post" id="ruleApplyForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col text-left">
                                    <a href="{% url 'rules_add' %}" class="btn btn-primary shadow-2 m-t-5" style="width: 120px;">Добавить</a>
                                    <button type="submit" name="btnApply"
                                            onclick="{% if description.status.upper != 'EDITED' %}return false{% endif %}"
                                            class="btn {% if description.status.upper != 'EDITED' %}disabled btn-secondary{% else %}btn-warning{% endif %} shadow-2 m-t-5"
                                            style="width: 200px;">Установить правила
                                    </button>
                                </div>
                                <div class="col text-right">
                                    <i class="feather icon-chevrons-down" onclick="ShowSubrules()" style="font-size: 1.2rem; color: #1e6abc;"></i>
                                    <i class="feather icon-chevrons-up" onclick="HideSubrules()" style="font-size: 1.2rem; color: #1e6abc;"></i>
                                </div>
                            </div>
                            {% if description.status.upper == 'EDITED' %}
                            <div class="row">
                                <div class="col">
                                    <div class="col alert alert-warning" role="alert">
                                        <div class="row">
                                            <div class="col-md-auto">
                                                <div class="spinner-border text-warning" role="status"></div>
                                            </div>
                                            <div class="col">
                                                Изменено: <a class="text-dark mb-1">{{ description.date_edit }}</a><br/>
                                                Последняя установка правил выполнена: <a class="text-dark mb-1">{{ description.date_set }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </form>
                    <div class="row">
                        <h1></h1>
                    </div>
                    <div class="row">
                        <!-- Таблица правил -->
                        <div class="table-responsive">
                            <table id="col-reorder"
                                   class="display table nowrap table-striped table-hover footable"
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th title="Удаление"><i class="feather icon-trash"></i></th>
                                    <th title="Статус"><i class="feather icon-check-square" style="font-size: 1.05rem;"></i></th>
                                    <th title="Включено/Выключено">Вкл</th>
                                    <th title="Запрещено/Разрешено">Тип</th>
                                    <th>Название</th>
                                    <th>Атомарные подправила</th>
                                    <th>Описание</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for r in rules %}
                                    <tr>
                                        {# Удаление #}
                                        <td style="display: table-cell;">
                                            <div>
                                                <a href="{% url 'rules' %}?delete={{ r.id }}"
                                                   onclick="return confirm('{{ r.name }}\nУдалить правило?');">
                                                    <i class="feather icon-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                        {# Статус #}
                                        <td style="display: table-cell;">
                                            {% if r.status.upper == 'SET' %}
                                                <i class="feather icon-check-square" style="font-size: 1.05rem; color: #2f9c0a;" title="Применено"></i>
                                            {% elif r.status.upper == 'NOT SET' %}
                                                <i class="feather icon-square" style="font-size: 1.05rem; color: #1e6abc;" title="Не применено"></i>
                                            {% elif r.status.upper == 'EDITED' %}
                                                <i class="feather icon-edit" style="font-size: 1.05rem; color: #ba8b00;" title="Изменено, не применено"></i>
                                            {% else %}
                                                {{ r.status }}
                                            {% endif %}
                                        </td>
                                        {# Включено #}
                                        <td style="display: table-cell;">
                                            {% if r.is_enable.upper == 'TRUE' %}
                                                <div title="Включено">
                                                    <svg width="16" height="16" fill="#ffc107">
                                                        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z"/>
                                                        <svg width="16" height="16" fill="#555555">
                                                            <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
                                                        </svg>
                                                    </svg>
                                                </div>
                                            {% elif r.is_enable.upper == 'FALSE' %}
                                                <div title="Выключено">
                                                    <svg width="16" height="16" fill="#555555">
                                                        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
                                                    </svg>
                                                </div>
                                            {% else %}
                                                {{ r.is_enable }}
                                            {% endif %}
                                        </td>
                                        {# black/white #}
                                        <td style="display: table-cell;">
                                            {% if r.rtype.upper == 'BLACK' %}
                                                <p class="mb-1" style="color: #2f0800">Запрещено</p>
                                                {# <i class="feather icon-star-on" style="font-size: 1.05rem; color: #666;" title="Запрещено"></i>#}
                                            {% elif r.rtype.upper == 'WHITE' %}
                                                <p class="mb-1" style="color: #1c561d">Разрешено</p>
                                                {# <i class="feather icon-star-on" style="font-size: 1.05rem; color: #8fcedd;" title="Разрешено"></i>#}
                                            {% else %}
                                                {{ r.rtype }}
                                            {% endif %}
                                        </td>
                                        {# Название #}
                                        <td style="display: table-cell;">
                                            <a href="{% url 'rules_edit' r.id %}">{{ r.name|truncatechars:50 }}</a>
                                        </td>
                                        {# Подправила #}
                                        <td style="display: table-cell;">
                                            <a class="text-dark m-t-5" data-toggle="collapse" href="#collapse_{{ r.id }}"
                                               role="button"
                                               aria-expanded="true"><i class="feather icon-chevron-down"></i>{% count_sub r %}</a>
                                            <div class="collapse hide devHide m-l-15" id="collapse_{{ r.id }}">
                                                {% for s in r.sub2 %}
                                                    {# Инвертированное #}
                                                    {% if s.is_invert == '0' %}
                                                        <i title="Не инвертированное" class="feather icon-arrow-up-right" style="color: #000"></i>
                                                    {% elif s.is_invert == '1' %}
                                                        <i title="Инвертированное" class="feather icon-arrow-down-left" style="color: #000"></i>
                                                    {% else %}
                                                        {{ s.is_invert }}
                                                    {% endif %}

                                                    {# Формат атомарного правила и тип файла #}
{#                                                    <span style="width: 80px"#}
{#                                                        {% if s.ar_format.upper == 'NO' and s.ar_type.upper == 'NO' %}#}
{#                                                            class="badge badge-light"#}
{#                                                        {% elif s.ar_format.upper == 'IP' or s.ar_type.upper == 'IP' or s.ar_format.upper == 'PORT' or s.ar_type.upper == 'PORT' or s.ar_format.upper == 'MAC' or s.ar_type.upper == 'MAC' %}#}
{#                                                            class="badge badge-warning"#}
{#                                                        {% elif s.ar_format.upper == 'FILE' or s.ar_type.upper == 'LIT' %}#}
{#                                                            class="badge badge-info"#}
{#                                                        {% elif s.ar_format.upper == 'PROTNAME' or s.ar_format.upper == 'CATEGNAME' or s.ar_format.upper == 'SERVICENAME' %}#}
{#                                                            class="badge badge-primary"#}
{#                                                        {% else %}#}
{#                                                            class="badge badge-secondary"#}
{#                                                        {% endif %}>#}
                                                        {# Формат правила #}
{#                                                        {% if s.ar_format.upper == 'FILE' %}#}
{#                                                            {{ 'Список' }}#}
{#                                                        {% elif s.ar_format.upper == 'NO'%}#}
{#                                                            {{ '' }}#}
{#                                                        {% else %}#}
{#                                                            {{ s.ar_format }}#}
{#                                                        {% endif %}#}
                                                        {# Тип правила #}
{#                                                        {% if s.ar_type.upper == 'NO' %}#}
{#                                                            {{ '' }}#}
{#                                                        {% elif s.ar_type.upper == 'LIT' %}#}
{#                                                            {{ 'строк' }}#}
{#                                                        {% else %}#}
{#                                                            {{ s.ar_type }}#}
{#                                                        {% endif %}#}
{#                                                    </span>#}

                                                    {# Описание подправила и значение #}
                                                    {{ s.ar_description|truncatechars:30 }}{{ ' - ' }}
                                                    {% if s.ar_format.upper == 'FILE' and s.fid_or_val.isdigit %}
                                                        <a href="{% url 'lists_edit' s.fid_or_val %}">{{ s.list_description|truncatechars:30 }}</a>
                                                    {% else %}
                                                        <a class="{% if r.rtype.upper == 'BLACK' %}{{ 'text-danger' }}
                                                                  {% elif r.rtype.upper == 'WHITE'%}{{ 'text-success' }}
                                                                  {% endif %}">{{ s.fid_or_val }}</a>
                                                    {% endif %}<br/>
                                                {% endfor %}
                                            </div>
                                        </td>
                                        {# Описание #}
                                        <td style="display: table-cell;">{{ r.description|wordwrap:70|linebreaks }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>

        function ShowSubrules() {
            let hideCollapse = document.getElementsByClassName('devHide');
            var btnSub = document.getElementById('btnSubShow');

            for (let i = 0; i < hideCollapse.length; i += 1) {
                hideCollapse[i].classList.remove('hide');
                hideCollapse[i].classList.add('show');
            }
        }

        function HideSubrules() {
            let hideCollapse = document.getElementsByClassName('devHide');
            var btnSub = document.getElementById('btnSub');

            for (let i = 0; i < hideCollapse.length; i += 1) {
                hideCollapse[i].classList.remove('show');
                hideCollapse[i].classList.add('hide');
            }
        }

    </script>

{% endblock content %}