{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
    <!-- Morris chart css -->
    <link rel="stylesheet" href="{% static 'main/plugins/chart-morris/css/morris.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}

    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <!-- Morris chart Js -->
    <script src="{% static 'main/plugins/chart-morris/js/raphael.min.js' %}"></script>

    <script src="{% static 'main/plugins/chart-morris/js/morris.min.js' %}"></script>

    <!-- Peity chart Js -->
    <script src="{% static 'main/plugins/chart-peity/js/jquery.peity.min.js' %}"></script>

    <script src="{% static 'main/plugins/jquery/js/jquery.min.js' %}"></script>
    <script>
        // Запрос данных Ajax
        function RequestAjax() {
            // Параметры
            const param = {
                type: 'GET',
                dataType: 'json',
                url: '{% url 'state' %}?ajax',
                success: Update
            }
            // Выполнить запрос
            $.ajax(param);
            // Запустить повторно по таймеру
            setTimeout(RequestAjax, 10000);
        }

        // Обновление страницы
        function Update(response) {
            // Время работы
            if ('uptime' in response) {
                let uptime = response.uptime;
                let m = uptime.mins;
                let s = uptime.secs;
                let d = uptime.days;
                let h = uptime.hours;
                let value = `Время работы: ${d}д. ${h}ч.  ${m}мин. ${s}сек.`;
                let currentTime = document.getElementById('currentTime');
                currentTime.textContent = value;
            }
            // Память
            if ('ram' in response) {
                let ram = response.ram;
                let used = ram.used;
                let total = ram.total;
                let percent = ram.percent;
                let value = `Память: проценты (${percent}), всего (${total}), используется (${used})`;
                let currentRam = document.getElementById('currentRam');
                let currentRamT = document.getElementById('currentRamT');
                currentRam.textContent = value;
                currentRamT.value = percent
                let event = new Event('change')
                currentRamT.dispatchEvent(event)
            }

            // Диски
            if ('disk' in response) {
                let disk = response.disk;
                let used = disk.used;
                let total = disk.total;
                let percent = disk.percent;
                let value = `Диски: проценты (${percent}), всего (${total}), используется (${used})`
                let currentDisk = document.getElementById('currentDisk')
                let currentDiskT = document.getElementById('currentDiskT')
                currentDisk.textContent = value;
                currentDiskT.value = percent
                let event = new Event('change')
                currentDiskT.dispatchEvent(event)
            }
            // Ядра
            if ('lcores' in response) {
                let lcores = response.lcores;
                let lcoresJson = JSON.stringify(lcores);
                const ex = JSON.parse(lcoresJson)
                let currentCores = document.getElementById('currentCores')
                let cores = document.getElementsByClassName('cores')
                Array.prototype.forEach.call(cores, function (el) {
                    let core = el.id
                    let coreValue = ex[core]
                    let intCoreValue = parseInt(coreValue)
                    el.value = intCoreValue.toString() + '%'
                    // Create a new 'change' event
                    var event = new Event('change')
                    el.dispatchEvent(event)
                })
                currentCores.textContent = lcoresJson;
            }
        }

        // Запуск при загрузке страницы
        window.addEventListener('load', () => {
            RequestAjax();
        });
    </script>

    <script>

    </script>

{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-home"></i>Система
        </h4>
    </li>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Параметры системы</h5>
                        </div>
                        <ul class="breadcrumb m-t-10">
                            <li class="breadcrumb-item"><a href="{% url 'state' %}"><i
                                    class="feather icon-home p-r-5"></i>Система</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p class="text-dark">Версия ПО: {{ version.version }}</p>
                        <p class="text-dark">Серийный номер: {{ serial.serial_number }}</p>
                        <p class="text-dark">Статус системы: {{ status.main_status }} - {{ status.sub_status }}</p>
                        <p class="text-dark">Время старта: {{ uptime.start_time }}
                        <p class="text-dark" id="currentTime">Время
                            работы: {{ uptime.days }}д. {{ uptime.hours }}ч. {{ uptime.mins }}мин. {{ uptime.secs }}сек.</p>
                    </div>
                </div>

            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col-sm-12">#}
{#                <div class="card">#}
{#                    <div class="card-header">#}
{#                        <h5>Процессор</h5>#}
{#                    </div>#}
{#                    <div class="card-block">#}
{#                        {% for core in lcores %}#}
{#                            <label for="{{ core }}">{{ core }}</label>#}
{#                            <input id="{{ core }}" type="text" class="dial" value="0" data-width="200" data-height="200"#}
{#                                   data-linecap="round" data-displayinput="true"#}
{#                                   data-fgcolor="#1dc4e9" data-readonly="true">#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Диск</h5>
                    </div>
                    <div class="card-block">
                        <p class="text-dark" id="currentDisk">Диски: {{ disk }}</p>
                        <input id="currentDiskT" type="text" class="dial" value="0" data-width="200" data-height="200"
                               data-linecap="round" data-displayinput="true"
                               data-fgcolor="#1dc4e9" data-readonly="true">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Память</h5>
                    </div>
                    <div class="card-block">
                        <p class="text-dark" id="currentRam">Память: {{ ram }}</p>
                        <input id="currentRamT" type="text" class="dial" value="0" data-width="200" data-height="200"
                               data-linecap="round" data-displayinput="true"
                               data-fgcolor="#1dc4e9" data-readonly="true">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Процессор</h5>
                    </div>
                    <div class="card-block">
                        {% for core in lcores %}
                            <label for="{{ core }}">{{ core }}</label>
                            <input id="{{ core }}" type="text" class="dial cores" value="0" data-width="100"
                                   data-height="100"
                                   data-fgcolor="#1de9b6" data-skin="tron" data-thickness=".1"
                                   data-angleoffset="180"
                                   data-readonly="true">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}