{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
{% endblock style %}

{# Скрипты #}
{% block script %}
    <!-- Knob Js -->
    <script src="{% static 'main/plugins/chart-knob/js/jquery.knob.min.js' %}"></script>
    <script src="{% static 'main/plugins/chart-knob/js/jquery.knob-custom.min.js' %}"></script>
    <script src="{% static 'main/plugins/chart-echarts/js/echarts-en.min.js' %}"></script>
    <!-- Обновление страницы -->
    <script>
        var domdynamic = document.getElementById("chart-DynamicLineBar");
        var myChartdynamic = echarts.init(domdynamic);
        var option = null;
        $(document).ready(function () {
            option = {
                legend: {
                    data: []
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#283b56'
                        }
                    }
                },
                xAxis: {
                    type: 'category',
                    // data: ['A', 'B', 'C', 'E', 'F', 'G', 'Q', 'R']
                    data: (function () {
                        var now = new Date();
                        var res = [];
                        var len = 180;
                        while (len--) {
                            let date = now.getMinutes().toString().padStart(2, '0');
                            date += ':' + now.getSeconds().toString().padStart(2, '0');
                            res.unshift(date);
                            now = new Date(now - 2000);
                        }
                        return res;
                    })()
                },
                yAxis: {
                    type: 'value',
                    scale: true,
                    max: 100,
                    min: 0
                },
                series: []
            };
            option && myChartdynamic.setOption(option);
        });

        // Запрос данных Ajax
        function RequestAjax() {
            // Параметры
            const param = {
                type: 'GET',
                dataType: 'json',
                url: '{% url 'state' %}?ajax',
                success: Update
            }
            // Выполнить запрос
            $.ajax(param);
            // Запустить повторно по таймеру
            setTimeout(RequestAjax, 1000);
        }

        // Обновление страницы
        function Update(response) {
            // Время работы
            if ('uptime' in response) {
                let uptime = response.uptime;
                let m = uptime.mins.toString().padStart(2, '0');
                let s = uptime.secs.toString().padStart(2, '0');
                let d = uptime.days.toString().padStart(2, '0');
                let h = uptime.hours.toString().padStart(2, '0');
                let value = `${d}д. ${h}:${m}:${s}`;
                let currentTime = document.getElementById('currentTime');
                currentTime.textContent = value;
            }
            // Память
            if ('ram' in response) {
                let ram = response.ram;
                let total = 'Всего:' + ram.total.toFixed(1).toString();
                let used = 'Используется:' + ram.used.toFixed(1).toString();
                let percent = 'Проценты:' + ram.percent.toFixed(1).toString();
                let innerHtml = percent + "<br>" + used  + "<br>" + total;
                let currentRam = document.getElementById('currentRam');
                let currentRamT = document.getElementById('currentRamT');
                currentRam.innerHTML = innerHtml;
                currentRamT.value = ram.percent;
                let event = new Event('change');
                currentRamT.dispatchEvent(event);
            }

            // Диски
            if ('disk' in response) {
                let disk = response.disk;
                let total = 'Всего:' + disk.total.toFixed(1).toString();
                let used = 'Используется:' + disk.used.toFixed(1).toString();
                let percent = 'Проценты:' + disk.percent.toFixed(1).toString();
                let innerHtml = percent + "<br>" + used  + "<br>" + total;
                let currentDisk = document.getElementById('currentDisk');
                let currentDiskT = document.getElementById('currentDiskT');
                currentDisk.innerHTML = innerHtml;
                currentDiskT.value = disk.percent;
                let event = new Event('change');
                currentDiskT.dispatchEvent(event);
            }
            // Ядра
            if ('lcores' in response) {
                let lcores = response.lcores;
                let lcoresJson = JSON.stringify(lcores);
                const ex = JSON.parse(lcoresJson);
                let cores = document.getElementsByClassName('cores')
                Array.prototype.forEach.call(cores, function (el) {
                    let core = el.id
                    let coreValue = ex[core]
                    let intCoreValue = parseInt(coreValue)
                    el.value = intCoreValue.toString() + '%'
                    // Create a new 'change' event
                    var event = new Event('change')
                    el.dispatchEvent(event)
                })

                //Добавить все подписи ядер
                if (option.legend.data.length < Object.keys(ex).length) {
                    let j = option.legend.data.length + 1
                    for (j; j < Object.keys(ex).length + 1; j += 1) {
                        option.legend.data.push("Ядро " + j)
                    }
                }

                if (option.series.length < Object.keys(ex).length) {
                    let j = option.series.length + 1
                    for (j; j < Object.keys(ex).length + 1; j += 1) {
                        let typeOption = {
                            name: option.legend.data[j - 1],
                            data: (function () {
                                var res = [];
                                var len = 180;
                                while (len--) {
                                    res.push(1);
                                }
                                return res;
                            })(),
                            type: 'line',
                            showSymbol: false,
                        }
                        option.series.push(typeOption);
                    }
                }


                var axisData = (new Date()).getMinutes().toString().padStart(2, '0');
                axisData += ':' + (new Date()).getSeconds().toString().padStart(2, '0');
                var i = 0;
                for (const [key, value] of Object.entries(ex)) {
                    let intCoreValue = parseInt(value);
                    var data = option.series[i].data;
                    if (intCoreValue === 0) {
                        intCoreValue = 1;
                    }
                    data.shift();
                    data.push(intCoreValue);
                    i = i + 1;
                }
                option.xAxis.data.shift();
                option.xAxis.data.push(axisData);
                option && myChartdynamic.setOption(option);
            }
        }

        // Запуск при загрузке страницы
        window.addEventListener('load', () => {
            RequestAjax();
        });
    </script>
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-home"></i>Мониторинг текущего состояний системы
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'state' %}">Система</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Состояние системы</h5>
                        </div>
                    </div>
                    <div class="card-body py-0 my-0">
                        <div class="row">
                            <div class="col-auto">
                                <div class="card card-customer">
                                    <div class="card-block">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                 <i class="feather icon-tag f-40 text-white bg-info"></i>
                                            </div>
                                            <div class="col-auto">
                                                <h4 class="text-muted f-w-300">{{ serial.serial_number }}</h4>
                                                <h6 class="text-muted">Серийный номер</h6>
                                            </div>
                                             <div class="col-auto">
                                                <h4 class="text-muted f-w-300">{{ version.version }}</h4>
                                                <h6 class="text-muted">Версия ПО</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="card card-customer">
                                    <div class="card-block">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                 <i class="feather icon-clock f-40 text-white bg-info"></i>
                                            </div>
                                            <div class="col-auto">
                                                <h4 id="currentTime" class="text-muted f-w-300">00д. 00:00:00</h4>
                                                <h5 class="text-success">
                                                    <span class="badge badge-success">{{ status.main_status }}</span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="card card-customer">
                                    <div class="card-block">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                 <i class="feather icon-power f-38 text-white bg-info"></i>
                                            </div>
                                            <div class="col-auto">
                                                <h4 class="text-muted f-w-300">{{ uptime.start_time }}</h4>
                                                <a href="#" onclick="confirm('Выполнить перезагрузку системы?');">Перезагрузка системы</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Состояние памяти</h5>
                        </div>
                    </div>
                    <div class="card-body py-0 my-0">
                        <div class="row">
                            <div class="col-auto">
                                <div class="card card-customer">
                                    <div class="card-block">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                <div class="col-auto text-center m-0 p-0">
                                                    <label for="currentDiskT" hidden></label>
                                                    <input id="currentDiskT" type="text" class="dial" value="70"
                                                           data-width="80" data-height="80"
                                                           data-linecap="round" data-displayinput="true"
                                                           data-fgcolor="#17A2BA" data-readonly="true">
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <h4 id="currentTime" class="text-muted f-w-300">Диски</h4>
                                                <h6 class="text-muted" id="currentDisk">Проценты:<br>Используется:<br>Всего:</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="card card-customer">
                                    <div class="card-block">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                 <div class="col-auto text-center m-0 p-0">
                                                     <label for="currentRamT" hidden></label>
                                                     <input id="currentRamT" type="text" class="dial" value="70" data-width="80" data-height="80"
                                                           data-linecap="round" data-displayinput="true"
                                                           data-fgcolor="#17A2BA" data-readonly="true">
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <h4 id="currentTime" class="text-muted f-w-300">Память</h4>
                                                <h6 class="text-muted" id="currentRam">Проценты:<br>Используется:<br>Всего:</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Состояние процессора</h5>
                    </div>
                    <div class="card-block text-center py-0 my-0">
                        <div id="chart-DynamicLineBar" style="width: 100%; height: 250px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}