{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
{% endblock style %}

{# Скрипты #}
{% block script %}
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-home"></i>Система
        </h4>
    </li>
{% endblock header %}

{# Содержимое #}
{% block content %}

     <div class="page-wrapper">
         <div class="row">
             <div class="col-md-12">
                 <div class="card">
                     <div class="card-header">
                         <div class="page-header-title">
                            <h5>Параметры системы</h5>
                        </div>
                        <ul class="breadcrumb m-t-10">
                            <li class="breadcrumb-item"><a href="{% url 'history' %}"><i class="feather icon-home p-r-5"></i>Система</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                         <!-- Версия по -->
                         <p class="text-dark">Версия ПО: {{ version.version }}</p>
                         <p class="text-dark">Серийный номер: {{ serial.serial_number }}</p>
                         <p class="text-dark">Свободно потоков: {{ lcores.free_cores }}</p>
                         <p class="text-dark">Потоков всего: {{ lcores.cores }}</p>
                         <p class="text-dark">Количество нума узлов: {{ lcores.nodes }}</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>

{% endblock content %}