{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script>
        // Запрос данных Ajax
        function RequestAjax() {
            // Параметры
            const param = {
                type: 'GET',
                dataType: 'json',
                url: '{% url 'ports' %}?ajax',
                success: Update
            }
            // Выполнить запрос
            $.ajax(param);
            // Запустить повторно по таймеру
            setTimeout(RequestAjax, 6000);
        }

        // Преобразовать в систему СИ
        function formatSi(val) {
            if (val === 0)
                return '0 ';
            const dec = 2;
            const k = 1024;
            const dm = dec < 0 ? 0 : dec;
            const sizes = ['', 'К', 'М', 'Г', 'Т', ''];
            const i = Math.floor(Math.log(val) / Math.log(k));
            return parseFloat((val / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
        }

        // Обновление страницы
        function Update(response) {
            // Время работы
            if ('ports' in response) {
                let ports = response.ports;
                let portsJson = JSON.stringify(ports);
                const ex = JSON.parse(portsJson);
                for (const [key, value] of Object.entries(ex)) {
                    let oneport = JSON.stringify(value);
                    const exOnePort = JSON.parse(oneport);

                    // Верхняя строка - Номер порта
                    var number = exOnePort['number'];
                    var numberEl = document.getElementById(number);
                    numberEl.textContent = number;

                    // Верхняя строка - Статус порта
                    var link_status = exOnePort['link_status'];
                    var link_statusEl = document.getElementById(number + "_" + "link_status");
                    link_statusEl.textContent = link_status;

                    // Верхняя строка - Скорость порта
                    var link_speed = exOnePort['link_speed'];
                    var link_speedEl = document.getElementById(number + "_" + "link_speed");
                    link_speedEl.textContent = link_speed + ' Мбит';

                    ///////////////////////////////////////////////////////////////////////

                    // Левая колонка - входящий - скорость порта
                    var ibits_per_sec = exOnePort['ibits_per_sec'];
                    var ibits_per_secEl = document.getElementById(number + "_" + "ibits_per_sec");
                    ibits_per_secEl.textContent = formatSi(ibits_per_sec) + "бит/cек";

                    // Левая колонка - входящий - количество пакетов порта
                    var ipackets = exOnePort['ipackets'];
                    var ipacketsEl = document.getElementById(number + "_" + "ipackets");
                    ipacketsEl.textContent = formatSi(parseInt(ipackets)) + "шт";

                    // Левая колонка - входящий - количество пакетов в секунду
                    var ipackets_per_sec = exOnePort['ipackets_per_sec'];
                    var ipackets_per_secEl = document.getElementById(number + "_" + "ipackets_per_sec");
                    ipackets_per_secEl.textContent = formatSi(parseInt(ipackets_per_sec)) + "шт/сек";

                    // Левая колонка - входящий - количество байт прошедших через порт
                    var ibytes = exOnePort['ibytes'];
                    var ibytesEl = document.getElementById(number + "_" + "ibytes");
                    ibytesEl.textContent = formatSi(parseInt(ibytes)) + 'байт';

                    ///////////////////////////////////////////////////////////////////////

                    // Правая колонка - исходящий - скорость порта
                    var obits_per_sec = exOnePort['obits_per_sec'];
                    var obits_per_secEl = document.getElementById(number + "_" + "obits_per_sec");
                    obits_per_secEl.textContent = formatSi(parseInt(obits_per_sec)) + "бит/cек";

                    // Правая колонка - исходящий - количество пакетов порта
                    var opackets = exOnePort['opackets'];
                    var opacketsEl = document.getElementById(number + "_" + "opackets");
                    opacketsEl.textContent = formatSi(parseInt(opackets)) + "шт";

                    // Правая колонка - исходящий - количество пакетов в секунду
                    var opackets_per_sec = exOnePort['opackets_per_sec'];
                    var opackets_per_secEl = document.getElementById(number + "_" + "opackets_per_sec");
                    opackets_per_secEl.textContent = formatSi(parseInt(opackets_per_sec)) + "шт/сек";

                    // Правая колонка - исходящий - количество байт прошедших через порт
                    var obytes = exOnePort['obytes'];
                    var obytesEl = document.getElementById(number + "_" + "obytes");
                    obytesEl.textContent = formatSi(parseInt(obytes)) + 'байт';

                    ///////////////////////////////////////////////////////////////////////

                    //+
                    var imissed_per_sec = exOnePort['imissed_per_sec'];
                    var imissed_per_secEl = document.getElementById(number + "_" + "imissed_per_sec");
                    imissed_per_secEl.textContent = imissed_per_sec;

                    //+
                    var ierrors = exOnePort['ierrors'];
                    var ierrorsEl = document.getElementById(number + "_" + "ierrors");
                    ierrorsEl.textContent = ierrors;

                    //+
                    var imissed = exOnePort['imissed'];
                    var imissedEl = document.getElementById(number + "_" + "imissed");
                    imissedEl.textContent = imissed;


                    //+
                    var oerrors = exOnePort['oerrors'];
                    var oerrorsEl = document.getElementById(number + "_" + "oerrors");
                    oerrorsEl.textContent = oerrors;

                }
            }
        }

        // Запуск при загрузке страницы
        window.addEventListener('load', () => {
            RequestAjax();
        });
    </script>
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-airplay"></i>Физические порты устройства
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'ports' %}">Порты</a></li>
    </ul>

{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="row" hidden>
{#            <div class="col-md-12">#}
{#                <div class="card">#}
{#                    <div class="card-header">#}
{#                        <div class="page-header-title">#}
{#                            <h5>Состояние портов</h5>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <div class="table-responsive">#}
{#                            <table id="col-reorder" class="display table nowrap table-striped table-hover footable">#}
{#                                <thead>#}
{#                                <tr>#}
{#                                    <th>number</th>#}
                                    {# Номер порта #}
{#                                    <th>link_status</th>#}
                                    {# Статус #}
{#                                    <th>link_speed</th>#}
                                    {# Скорость порта (Мбит) #}
{#                                    <th>ibits_per_sec</th>#}
                                    {# Входящая скорость (бит/сек.) + )#}
{#                                    <th>ipackets</th>#}
                                    {# Входящих пакетов количество (шт.) + #}
{#                                    <th>ipackets_per_sec</th>#}
                                    {# Входящих пакетов в секунду (шт/сек.) + #}
{#                                    <th>ibytes</th>#}
                                    {# Входящих байт всего (байт) + #}
{#                                    <th>ierrors</th>#}
                                    {# Входящих ошибок всего (шт) #}
{#                                    <th>imissed</th>#}
                                    {# Входящих потерь всего (шт) #}
{#                                    <th>imissed_per_sec</th>#}
                                    {# Входящих потерь в секунду (шт/сек.) #}
{#                                    <th>obits_per_sec</th>#}
                                    {# Исходящих скорость (бит/сек.) + #}
{#                                    <th>opackets</th>#}
                                    {# Исходящих пакетов количество (шт.) + #}
{#                                    <th>opackets_per_sec</th>#}
                                    {# Исходящих пакетов в секунду (шт/сек.) + #}
{#                                    <th>obytes</th>#}
                                    {# Исходящих байт всего (байт) + #}
{#                                    <th>oerrors</th>#}
                                    {# Исходящих ошибок всего (шт) #}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                {% for p in ports %}#}
{#                                    <tr>#}
{#                                        <td style="display: table-cell;">{{ p.number }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.link_status }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.link_speed }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.ibits_per_sec }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.ipackets }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.ipackets_per_sec }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.ibytes }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.ierrors }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.imissed }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.imissed_per_sec }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.obits_per_sec }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.opackets }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.opackets_per_sec }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.obytes }}</td>#}
{#                                        <td style="display: table-cell;">{{ p.oerrors }}</td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                                </tbody>#}
{#                            </table>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="card">
            <div class="card-header">
                <div class="page-header-title">
                    <h5>Состояние портов</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    {% for p in ports %}
                        <div class="col-auto">
                            <div class="card-body" style="width: 280px">
                                <div class="row border border-dark p-t-10" style="background: #9dc1d3">
                                    <div class="col-auto text-left" data-toggle="tooltip" title="Номер порта">
                                        <h5 id="{{ p.number }}"></h5>
                                    </div>
                                    <div class="col-auto text-center" data-toggle="tooltip" title="Статус">
                                        <h5 id="{{ p.number }}_link_status"></h5>
                                    </div>
                                    <div class="col-auto text-left" data-toggle="tooltip" title="Скорость порта (Мбит)">
                                        <h5 id="{{ p.number }}_link_speed"></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 border border-dark border-top-0 text-left p-t-5" style="background: #ddf1ff">
                                        <div class="row-auto" data-toggle="tooltip" data-placement="left" title="Вх. скорость порта">
                                            <h6 id="{{ p.number }}_ibits_per_sec">{{ p.ibits_per_sec }}</h6>
                                        </div>
                                        <div class="row-auto" data-toggle="tooltip" data-placement="left" title="Вх. количество байт">
                                            <h6 id="{{ p.number }}_ibytes">{{ p.ibytes }}</h6>
                                        </div>
                                        <div class="row-auto" data-toggle="tooltip" data-placement="left" title="Вх. скорость пакетов">
                                            <h6 id="{{ p.number }}_ipackets_per_sec">{{ p.ipackets_per_sec }}</h6>
                                        </div>
                                        <div class="row-auto" data-toggle="tooltip" data-placement="left" title="Вх. количество пакетов">
                                            <h6 id="{{ p.number }}_ipackets">{{ p.ibits_per_sec }}</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 border-bottom border-right border-dark text-left p-t-5" style="background: #ddf1ff">
                                         <div class="row-auto" data-toggle="tooltip" data-placement="left" title="Исх. скорость порта">
                                            <h6 id="{{ p.number }}_obits_per_sec">{{ p.obits_per_sec }}</h6>
                                        </div>
                                        <div class="row-auto" data-toggle="tooltip" data-placement="left" title="Исх. количество байт">
                                            <h6 id="{{ p.number }}_obytes">{{ p.obytes }}</h6>
                                        </div>
                                        <div class="row-auto" data-toggle="tooltip" data-placement="left" title="Исх. скорость пакетов">
                                            <h6 id="{{ p.number }}_opackets_per_sec">{{ p.opackets_per_sec }}</h6>
                                        </div>
                                        <div class="row-auto" data-toggle="tooltip" data-placement="left" title="Исх. количество пакетов">
                                            <h6 id="{{ p.number }}_opackets">{{ p.obits_per_sec }}</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row border border-top-0 border-dark text-center" style="background: peachpuff">
                                    <div class="col-sm-3" data-toggle="tooltip" data-placement="bottom" title="Вх. потерь (шт)">
                                        <h6 id="{{ p.number }}_imissed" class="my-1">{{ p.imissed }}</h6>
                                    </div>
                                    <div class="col-sm-3 border-left border-dark" data-toggle="tooltip" data-placement="bottom" title="Вх. скорость потерь (шт/сек)">
                                        <h6 id="{{ p.number }}_imissed_per_sec" class="my-1">{{ p.imissed_per_sec }}</h6>
                                    </div>
                                    <div class="col-sm-3 border-left border-dark" data-toggle="tooltip" data-placement="bottom" title="Вх. ошибок (шт)">
                                        <h6 id="{{ p.number }}_ierrors" class="my-1">{{ p.ierrors }}</h6>
                                    </div>
                                    <div class="col-sm-3 border-left border-dark" data-toggle="tooltip" data-placement="bottom" title="Исх. ошибок (шт)">
                                        <h6 id="{{ p.number }}_oerrors" class="my-1">{{ p.oerrors }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="card" hidden>
                <div class="card-header">
                    <div class="page-header-title">
                        <h5>Ошибки</h5>
                    </div>
                    <ul class="breadcrumb m-t-10">
                        <li class="breadcrumb-item"><a href="{% url 'ports' %}"><i
                                class="feather icon-airplay p-r-5"></i>Порты</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for p in ports %}
                            <div class="col-sm-2">
                                <div class="card-body ">
                                    <div class="row border border-success">
                                        <div class="col-sm-4">{{ p.number }}</div>
                                        <div class="col-sm-4">{{ p.link_status }}</div>
                                        <div class="col-sm-4">{{ p.link_speed }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 border border-top-0 border-success">
                                            <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                                   title="Входящих ошибок всего (шт)">{{ p.ierrors }} шт.
                                            </label><br>
                                            <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                                   title="Входящих потерь всего (шт)">{{ p.imissed }}
                                                шт.</label><br>
                                            <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                                   title="Входящих потерь в секунду (шт/сек.)">{{ p.imissed_per_sec }}
                                                шт/сек.</label><br>
                                        </div>
                                        <div class="col-sm-6 border-bottom border-right border-success">
                                            <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                                   title="Исходящих ошибок всего (шт)">{{ p.oerrors }}
                                                шт.</label><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}