{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-airplay"></i>Порты
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50" style="background: transparent">
        <li class="breadcrumb-item"><a href="{% url 'ports' %}">Порты</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="row" hidden>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Состояние портов</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="col-reorder" class="display table nowrap table-striped table-hover footable">
                                <thead>
                                <tr>
                                    <th>number</th>
                                    {# Номер порта #}
                                    <th>link_status</th>
                                    {# Статус #}
                                    <th>link_speed</th>
                                    {# Скорость порта (Мбит) #}
                                    <th>ibits_per_sec</th>
                                    {# Входящая скорость (бит/сек.) + )#}
                                    <th>ipackets</th>
                                    {# Входящих пакетов количество (шт.) + #}
                                    <th>ipackets_per_sec</th>
                                    {# Входящих пакетов в секунду (шт/сек.) + #}
                                    <th>ibytes</th>
                                    {# Входящих байт всего (байт) + #}
                                    <th>ierrors</th>
                                    {# Входящих ошибок всего (шт) #}
                                    <th>imissed</th>
                                    {# Входящих потерь всего (шт) #}
                                    <th>imissed_per_sec</th>
                                    {# Входящих потерь в секунду (шт/сек.) #}
                                    <th>obits_per_sec</th>
                                    {# Исходящих скорость (бит/сек.) + #}
                                    <th>opackets</th>
                                    {# Исходящих пакетов количество (шт.) + #}
                                    <th>opackets_per_sec</th>
                                    {# Исходящих пакетов в секунду (шт/сек.) + #}
                                    <th>obytes</th>
                                    {# Исходящих байт всего (байт) + #}
                                    <th>oerrors</th>
                                    {# Исходящих ошибок всего (шт) #}
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in ports %}
                                    <tr>
                                        <td style="display: table-cell;">{{ p.number }}</td>
                                        <td style="display: table-cell;">{{ p.link_status }}</td>
                                        <td style="display: table-cell;">{{ p.link_speed }}</td>
                                        <td style="display: table-cell;">{{ p.ibits_per_sec }}</td>
                                        <td style="display: table-cell;">{{ p.ipackets }}</td>
                                        <td style="display: table-cell;">{{ p.ipackets_per_sec }}</td>
                                        <td style="display: table-cell;">{{ p.ibytes }}</td>
                                        <td style="display: table-cell;">{{ p.ierrors }}</td>
                                        <td style="display: table-cell;">{{ p.imissed }}</td>
                                        <td style="display: table-cell;">{{ p.imissed_per_sec }}</td>
                                        <td style="display: table-cell;">{{ p.obits_per_sec }}</td>
                                        <td style="display: table-cell;">{{ p.opackets }}</td>
                                        <td style="display: table-cell;">{{ p.opackets_per_sec }}</td>
                                        <td style="display: table-cell;">{{ p.obytes }}</td>
                                        <td style="display: table-cell;">{{ p.oerrors }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="page-header-title">
                    <h5>Состояние портов</h5>
                </div>
                <ul class="breadcrumb m-t-10">
                    <li class="breadcrumb-item"><a href="{% url 'ports' %}"><i
                            class="feather icon-airplay p-r-5"></i>Порты</a></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for p in ports %}
                        <div class="col-sm-6 col-md-2">
                            <div class="card-body">
                                <div class="row border border-success">
                                    <div class="col-sm-4">{{ p.number }}</div>
                                    <div class="col-sm-4">{{ p.link_status }}</div>
                                    <div class="col-sm-4">{{ p.link_speed }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 border border-top-0 border-success">
                                        <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                               title="Входящая скорость (бит/сек.)">{{ p.ibits_per_sec }}
                                            бит/сек.</label><br>
                                        <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                               title="Входящих пакетов количество (шт.)">{{ p.ipackets }}
                                            шт.</label><br>
                                        <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                               title="Входящих пакетов в секунду (шт/сек.)">{{ p.ipackets_per_sec }}
                                            шт/сек.</label><br>
                                        <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                               title="Входящих байт всего (байт)">{{ p.ibytes }} байт</label><br>
                                    </div>
                                    <div class="col-sm-6 border-bottom border-right border-success">
                                        <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                               title="Исходящая скорость (бит/сек.)">{{ p.obits_per_sec }}
                                            бит/сек.</label><br>
                                        <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                               title="Исходящих пакетов количество (шт.)">{{ p.opackets }}
                                            шт.</label><br>
                                        <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                               title="Исходящих пакетов в секунду (шт/сек.)">{{ p.opackets_per_sec }}
                                            шт/сек.</label><br>
                                        <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                               title="Исходящих байт всего (байт)">{{ p.obytes }} байт</label><br>
                                    </div>
                                </div>
                                <div class="row border border-top-0 border-success">
                                    <div class="col-sm-3 border-right border-success">
                                        <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                               title="Входящих ошибок всего (шт)">{{ p.ierrors }}</label>
                                    </div>
                                    <div class="col-sm-3 border-right border-success">
                                        <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                               title="Входящих потерь всего (шт)">{{ p.imissed }}</label>
                                    </div>
                                    <div class="col-sm-3 border-right border-success">
                                        <label style="margin-bottom: 0"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Входящих потерь в секунду (шт/сек.)">{{ p.imissed_per_sec }}
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                               title="Исходящих ошибок всего (шт)">{{ p.oerrors }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="card" hidden>
                <div class="card-header">
                    <div class="page-header-title">
                        <h5>Ошибки</h5>
                    </div>
                    <ul class="breadcrumb m-t-10">
                        <li class="breadcrumb-item"><a href="{% url 'ports' %}"><i
                                class="feather icon-airplay p-r-5"></i>Порты</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for p in ports %}
                            <div class="col-sm-2">
                                <div class="card-body ">
                                    <div class="row border border-success">
                                        <div class="col-sm-4">{{ p.number }}</div>
                                        <div class="col-sm-4">{{ p.link_status }}</div>
                                        <div class="col-sm-4">{{ p.link_speed }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 border border-top-0 border-success">
                                            <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                                   title="Входящих ошибок всего (шт)">{{ p.ierrors }} шт.
                                            </label><br>
                                            <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                                   title="Входящих потерь всего (шт)">{{ p.imissed }}
                                                шт.</label><br>
                                            <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                                   title="Входящих потерь в секунду (шт/сек.)">{{ p.imissed_per_sec }}
                                                шт/сек.</label><br>
                                        </div>
                                        <div class="col-sm-6 border-bottom border-right border-success">
                                            <label style="margin-bottom: 0" data-toggle="tooltip" data-placement="top"
                                                   title="Исходящих ошибок всего (шт)">{{ p.oerrors }}
                                                шт.</label><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}