{% extends "base.html" %}
{% load static %}

{% block header %}
    <li>
        <div class="card-header">
            <h5>История изменений правил</h5>
        </div>
    </li>
{% endblock header %}


{% block content %}


   <!-- История -->
    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">

                <!-- [Описание] start-->
                <p>История настроек правил фильтрации сетевого трафика.</p>
                <!-- [Описание] end-->

                   <!-- [Таблица истории] start -->
                <table id="col-reorder"
                       class="display table nowrap table-striped table-hover footable"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Дата</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for h in history %}
                        <!-- [Строка] start -->
                        <tr>
                            <td style="display: table-cell; width: 30px;">
                                <div>
                                    <a href="#!" type="button" data-toggle="modal" data-target="#history_{{ h.id }}">
                                        <i class="icon feather icon-corner-up-left"></i>
                                    </a>
                                </div>
                            </td>
                            <td style="display: table-cell;">{{ h.date }}</td>
                        </tr>
                        <!-- [Строка] end -->

                        <!-- [Модальное окно истории] -->
                        {% include "rules/history/history_form.html" with history=h %}

                    {% endfor %}
                    </tbody>
                </table>
                <!-- [Таблица истории] end -->

            </div>
        </div>
    </div>

{% endblock content %}