{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script src="{% static 'main/js/pages/tbl-datatable-custom.js' %}"></script>
    <script src="{% static 'main/plugins/data-tables/js/datatables.min.js' %}"></script>
    <script src="{% static 'language/ru-table.js' %}"></script>
{% endblock script %}

{# Заголовок #}
{% block header %}
     <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-clock"></i>История NGFW
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'history' %}">История</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>История конфигурирования правил фильтрации сетевого трафика</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- [Таблица истории] start -->
                        <div class="table-responsive">
                            <table id="col-reorder"
                               class="display table nowrap table-striped table-hover footable"
                               style="width:100%">
                            <thead>
                            <tr>
                                <th title="Восстановить"><i class="feather icon-corner-up-left"></i></th>
                                <th>Дата</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for h in history %}
                                <tr>
                                    <td style="display: table-cell;">
                                        <div>
                                            <a href="{% url 'history' %}?date={{ h.date }}"
                                               onclick="return confirm('{{ h.date }}\nВыполнить восстановление правил?');">
                                                <i class="icon feather icon-corner-up-left"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td style="display: table-cell;">{{ h.date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}