{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
{% endblock style %}

{# Скрипты #}
{% block script %}
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-wifi"></i>Выданные адреса DHCP
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'protocol_dhcp_table' %}">Выданные адреса</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Выданные адреса</h5>
                        </div>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}