{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script src="{% static 'main/js/pages/tbl-datatable-custom.js' %}"></script>
    <script src="{% static 'main/plugins/data-tables/js/datatables.min.js' %}"></script>
    <script src="{% static 'language/ru-table.js' %}"></script>
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-wifi"></i>Статические адреса DHCP
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'protocol_dhcp_static' %}">Статические адреса</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Статические адреса</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Кнопка Добавить -->
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'protocol_dhcp_static_add' %}" class="btn btn-primary shadow-2" style="width: 160px">Добавить</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row m-t-10">
                            <div class="col">
                                <!-- Таблица списков -->
                                <div class="table-responsive">
                                    <table id="col-reorder" class="display table nowrap table-striped table-hover footable">
                                        <thead>
                                        <tr>
                                            <th title="Удаление"><i class="feather icon-trash"></i></th>
                                            <th>Физический порт</th>
                                            <th>VLAN</th>
                                            <th>MAC адрес</th>
                                            <th>IP адрес</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in table %}
                                            <tr>
                                                <!-- Удаление -->
                                                <td style="display: table-cell;">
                                                    <div>
                                                        <a href="{% url 'protocol_dhcp_static' %}?delete=true&port={{ row.port }}&vlan={{ row.vlan }}&ip={{ row.ip }}&mac={{ row.mac }}"
                                                           onclick="return confirm('Удалить подсеть DHCP?');">
                                                            <i class="feather icon-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td style="display: table-cell;">{{ row.port }}</td>
                                                <td style="display: table-cell;">{{ row.vlan }}</td>
                                                <td style="display: table-cell;">{{ row.mac }}</td>
                                                <td style="display: table-cell;">{{ row.ip }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}