{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script src="{% static 'main/js/pages/tbl-datatable-custom.js' %}"></script>
    <script src="{% static 'main/plugins/data-tables/js/datatables.min.js' %}"></script>
    <script src="{% static 'language/ru-table.js' %}"></script>
    <!-- Изменение статуса-->
    <script>
        function PostStatusAjax(port, vlan) {
            let name = "status_" + port + "_" + vlan;
            let check = document.getElementById(name);
            let status = check.checked;

            // Параметры
            const param = {
                type: "GET",
                dataType: "json",
                url: '{% url 'protocol_dhcp_subnet' %}',
                data: {'port': port,
                       'vlan': vlan,
                       'status': status}
            }
            $.ajax(param);
        }
    </script>
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-wifi"></i>Настройки подсетей DHCP
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'protocol_dhcp_subnet' %}">Настройки подсетей</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}

    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Настройки подсетей DHCP</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row m-t-10">
                            <div class="col">
                                <!-- Таблица списков -->
                                <div class="table-responsive">
                                    <table id="col-reorder" class="display table nowrap table-striped table-hover footable">
                                        <thead>
                                        <tr>
                                            <th title="Сбросить диапазон подсети"><i class="feather icon-x-circle"></i></th>
                                            <th>Физический порт</th>
                                            <th>VLAN</th>
                                            <th>Начало IP диапазона</th>
                                            <th>Окончание IP диапазона</th>
                                            <th>Состояние</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in table %}
                                            <tr>
                                                <!-- Удаление -->
                                                <td style="display: table-cell;">
                                                    <div>
                                                        <a href="{% url 'protocol_dhcp_subnet' %}?delete=true&port={{ row.port }}&vlan={{ row.vlan }}&ip_start={{ row.ip_start }}&ip_end={{ row.ip_end }}"
                                                           onclick="return confirm('Сбросить диапазон подсети DHCP?');">
                                                            <i class="feather icon-x-circle"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td style="display: table-cell;">{{ row.port }}</td>
                                                <td style="display: table-cell;">{{ row.vlan }}</td>
                                                <td style="display: table-cell;">
                                                    <a href="{% url 'protocol_dhcp_subnet_edit' row.port row.vlan %}?ip_start={{ row.ip_start }}&ip_end={{ row.ip_end }}">{{ row.ip_start }}</a>
                                                </td>
                                                <td style="display: table-cell;">
                                                    <a href="{% url 'protocol_dhcp_subnet_edit' row.port row.vlan %}?ip_start={{ row.ip_start }}&ip_end={{ row.ip_end }}">{{ row.ip_end }}</a>
                                                </td>
                                                <td style="display: table-cell;" class="my-0 py-0">
                                                    <div class="switch switch-primary" style="margin-top: -5px;">
                                                        <input class="m-0 p-0" type="checkbox" id="status_{{ row.port }}_{{ row.vlan }}"
                                                               {% if row.enable == True %}checked{% endif %} onchange="PostStatusAjax({{ row.port }}, {{ row.vlan }})">
                                                        <label for="status_{{ row.port }}_{{ row.vlan }}" class="cr"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}