{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'error/css/style.css' %}"/>
{% endblock style %}

{# Скрипты #}
{% block script %}
    <!-- Scripts -->
	<script src="{% static 'error/js/parallax.js' %}"></script>
	<script>
        // Pretty simple huh?
        var scene = document.getElementById('scene');
        var parallax = new Parallax(scene);
	</script>
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-hash"></i>Возникла ошибка в работе приложения
        </h4>
    </li>
{% endblock header %}

{# Содержимое #}
{% block content %}
    <div class="page-wrapper">
        <div class="row">
            <div class="col text-center">
                <div id="container" class="container" style="max-width: 800px;">
                    <ul id="scene" class="scene">
                        <li class="layer" data-depth="0.60"><img src="{% static 'error/images/shadows-01.png' %}" alt=""></li>
                        <li class="layer" data-depth="0.20"><img src="{% static 'error/images/monster-01.png' %}" alt=""></li>
                        <li class="layer" data-depth="0.40"><img src="{% static 'error/images/text-01.png' %}" alt=""></li>
                        <li class="layer" data-depth="0.10"><img src="{% static 'error/images/monster-eyes-01.png' %}" alt=""></li>
                    </ul>
                    <h1>{{ name }}</h1>
                    {% for arg in ex.args  %}
                        <h5>{{ arg }}</h5><br/>
                    {% endfor %}
                </div>
            </div>
        </div>
	</div>
{% endblock content %}
