{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>Error</title>
    <link rel="icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'error/css/style.css' %}"/>
</head>
<body style="background: #C5D8FF">
	<div id="container" class="container">
		<ul id="scene" class="scene">
			<li class="layer" data-depth="0.60"><img src="{% static 'error/images/shadows-01.png' %}" alt=""></li>
			<li class="layer" data-depth="0.20"><img src="{% static 'error/images/monster-01.png' %}" alt=""></li>
			<li class="layer" data-depth="0.40"><img src="{% static 'error/images/text-01.png' %}" alt=""></li>
			<li class="layer" data-depth="0.10"><img src="{% static 'error/images/monster-eyes-01.png' %}" alt=""></li>
		</ul>
		<h1>{{ name }}</h1>
        {% for arg in ex.args  %}
            <h5>{{ arg }}</h5><br/>
        {% endfor %}
	</div>
	<!-- Scripts -->
	<script src="{% static 'error/js/parallax.js' %}"></script>
	<script>
	// Pretty simple huh?
	var scene = document.getElementById('scene');
	var parallax = new Parallax(scene);
	</script>

</body>
</html>
