{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
    <!-- codemirrior -->
    <script src="{% static 'codemirrior/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'codemirrior/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/pages/fileupload.css' %}">

    assets/css/pages/fileupload.css
{% endblock style %}

{% block script %}
    <script src="{% static 'main/plugins/fileupload/js/dropzone-amd-module.min.js' %}"></script>
    <!-- Обновление статуса -->
    <script>
        // Запрос данных Ajax
        function PostStatusAjax() {
            let status = document.getElementById('status');
            let checked = status.checked;
            // Параметры
            const param = {
                type: "GET",
                dataType: "json",
                url: '{% url 'ipsids' %}',
                data: {'checked': checked},
                success: SaveFileRules
            }
            // Выполнить запрос
            $.ajax(param);
        }

        function SaveFileRules(request)
        {
            if ('rules' in request)
            {
                alert("awd")
            }
        }

    </script>
{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-alert-triangle"></i>Конфигурация системы обнаружения вторжений
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'ipsids' %}">Система обнаружения вторжений</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}
    <div class="page-wrapper">
        <div class="card">
            <div class="card-header">
                <div class="page-header-title">
                    <h5>Конфигурация СОВ</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row p-b-30">
                    <div class="col">
                        <div class="switch switch-primary d-inline m-r-10">
                            <input type="checkbox" id="status" onchange="PostStatusAjax()"
                                   {% if status.ipsids_enable == 'true' %}checked{% endif %}>
                            <label for="status" class="cr"></label>
                        </div>
                        <label class="text-dark">Включить систему обнаружения вторжений</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="rules">Правила:</label>
                        <div>{{ rules }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary shadow-2" style="width: 160px" onclick="PostStatusAjax()">Скачать</button>
                        <button type="submit" class="btn btn-primary shadow-2" style="width: 160px">Загрузить</button>
                        <form action="{% static 'main/plugins/fileupload/js/file-upload.php' %}"
                              class="dropzone dz-clickable">
                            <div class="dz-message">Выберите файл для загрузки</div>
                            <div class="fallback">
                                <input name="file" type="file" multiple/>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for="config">Конфигурация</label>
                        <div>{{ config }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary shadow-2" style="width: 160px">Скачать</button>
                        <button type="submit" class="btn btn-primary shadow-2" style="width: 160px">Загрузить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}