{% extends "base.html" %}
{% load static %}

{# Стили #}
{% block style %}
    <!-- codemirrior -->
    <script src="{% static 'codemirrior/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'codemirrior/codemirror.css' %}">
{% endblock style %}

{% block script %}
    <!-- Обновление статуса -->
    <script>
        // Запрос данных Ajax
        function PostStatusAjax() {
            let status = document.getElementById('status');
            let checked = status.checked;
            // Параметры
            const param = {
                type: "GET",
                dataType: "json",
                url: '{% url 'ipsids' %}',
                data: {'checked': checked },
            }
            // Выполнить запрос
            $.ajax(param);
        }
    </script>

    <!-- CСкачивание правил -->
    <script>
        // Запрос данных Ajax
        function LoadRulesAjax() {
            // Параметры
            const param = {
                type: "GET",
                dataType: "html",
                data: {getRules: 'true'},
                url: '{% url 'ipsids' %}',
                success: SaveFileRules
            }
            // Выполнить запрос
            $.ajax(param);
        }
        function SaveFileRules(data)
        {
            alert(data)
        }
    </script>



{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-alert-triangle"></i>Конфигурация системы обнаружения вторжений
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'ipsids' %}">Система обнаружения вторжений</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}
    <div class="page-wrapper">
        <div class="card">
            <div class="card-header">
                <div class="page-header-title">
                    <h5>Конфигурация СОВ</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row p-b-30">
                    <div class="col">
                        <div class="switch switch-primary d-inline m-r-10">
                            <input type="checkbox" id="status" onchange="PostStatusAjax()"
                                   {% if status.ipsids_enable == 'true' %}checked{% endif %}>
                            <label for="status" class="cr"></label>
                        </div>
                        <label class="text-dark">Включить систему обнаружения вторжений</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="rules">Правила:</label>
                        <div>{{ rules }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary shadow-2" style="width: 160px" onclick="LoadRulesAjax()">Скачать</button>
                        <button type="submit" class="btn btn-primary shadow-2" style="width: 160px">Загрузить</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for="config">Конфигурация</label>
                        <div>{{ config }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary shadow-2" style="width: 160px">Скачать</button>
                        <button type="submit" class="btn btn-primary shadow-2" style="width: 160px">Загрузить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}