{% extends "base.html" %}
{% load static %}
{% load base_tag %}

{# Стили #}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/plugins/data-tables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/footable/css/footable.standalone.min.css' %}">
{% endblock style %}

{# Скрипты #}
{% block script %}
    <script src="{% static 'main/js/pages/tbl-datatable-custom.js' %}"></script>
    <script src="{% static 'main/plugins/data-tables/js/datatables.min.js' %}"></script>
    <script src="{% static 'language/ru-table.js' %}"></script>

    <!-- Отображение нумерации строк -->
    <script>
        // Отображение нумерации строк
        function EditorTextArea() {
            CodeMirror.fromTextArea(document.getElementById("answer"), {
                lineNumbers: true,
                mode: "text/html",
                matchBrackets: true
            });
        }

        // Выполнить при загрузке страницы
        window.addEventListener('load', () => {
            EditorTextArea();
        });
    </script>

    <script>
        // Запрос данных Ajax
        function PostPingAjax() {
            let ip = document.getElementById("ipText")
            let port = document.getElementById("portText")
            let req_amount = document.getElementById("req_amount")
            let delay = document.getElementById("delay")
            let ipValue = ip.value
            let portValue = port.value
            let req_amountValue = req_amount.value
            let delayValue = delay.value

            // Параметры
            const param = {
                type: "get",
                dataType: "json",
                url: '{% url 'ping' %}',
                data: {ipServer: ipValue, portServer: portValue, req_amount: req_amountValue, delay: delayValue},
                success: CheckPing,
            }
            $.ajax(param);
        }

        function CheckPing(data) {
            let answer = document.getElementById("answer")
            let text = data['text']
            answer.value = text
        }
    </script>

{% endblock script %}

{# Заголовок #}
{% block header %}
    <li class="m-l-5 m-t-5">
        <h4>
            <i class="m-r-15 feather icon-target"></i>Сервер времени NTP
        </h4>
    </li>
    <ul class="breadcrumb my-0 py-0 m-l-30 p-l-50 bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'ntp' %}">NTP</a></li>
    </ul>
{% endblock header %}

{# Содержимое #}
{% block content %}
    {{ server }}
    {{ status }}
    <!-- Проверка привилегий -->

    <div class="page-wrapper">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h5>Пользователи</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col" style="margin-left: 0">
                                <a href="{% url 'ldap_add' %}" class="btn btn-primary shadow-2"
                                   style="width: 180px">Добавить</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <!-- Таблица списков -->
                            <div class="table-responsive">
                                <table id="col-reorder"
                                       class="display table nowrap table-striped table-hover footable">
                                    <thead>
                                    <tr>
                                        <th><i class="feather icon-trash" style="color: #D43D17"></i></th>
                                        <th>IP адрес</th>
                                        <th>Главный</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in server %}
                                        <tr>
{#                                            <!-- Удаление -->#}
                                            <td style="display: table-cell;">
                                                <div>
                                                    <a href="{% url 'ldap' %}?delete={{ s.ip }}"
                                                       onclick="return confirm('{{ p.login }}\nУдалить пользователя?');">
                                                        <i class="feather icon-trash" style="color: #D43D17"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <!-- Тип файла -->
                                            <td style="display: table-cell;">{{ s.ip }}</td>
                                            <td style="display: table-cell;">{{ s.prefer }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}